<template>
  <v-dialog
    v-model="visible"
    width="1000px"
    @click:outside="onClickCancelDetailButton"
    class="psu-cu-dialog"
  >
    <v-card>
      <v-card-title v-if="mode === 'C'">
        <v-icon>mdi-database-plus-outline</v-icon>&nbsp;
        {{ $t("psu.add_psu") }}
      </v-card-title>
      <v-card-title v-else-if="mode === 'U' && isEditable">
        <v-icon>mdi-database-edit-outline</v-icon>&nbsp;
        {{ $t("psu.edit_psu") }}
      </v-card-title>
      <v-card-title v-else>
        <v-icon>mdi-database-outline</v-icon>&nbsp;
        {{ $t("psu.psu_detail") }}
      </v-card-title>
      <v-form v-model="valid" ref="form">
        <v-container class="pl-8 pr-8">
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="psu.name"
                placeholder=" "
                :label="$t('psu.name')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="psu.mfr"
                placeholder=" "
                :items="psuMfrList"
                :label="$t('psu.mfr')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-select
                dense
                v-model="psu.formFactor"
                placeholder=" "
                :items="psuFormFactorList"
                :label="$t('psu.form_factor')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              >
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="psu.fanSize"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                suffix="mm"
                :label="$t('psu.fan_size')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="psu.length"
                placeholder=" "
                :label="$t('psu.length')"
                :rules="[numberRule]"
                suffix="mm"
                :disabled="!isEditable"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="psu.wattage"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('psu.wattage')"
                suffix="W"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-select
                dense
                v-model="psu.standard"
                placeholder=" "
                :items="psuStandardList"
                :label="$t('psu.standard')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              >
              </v-select>
            </v-col>
            <v-col cols="4">
              <v-select
                dense
                v-model="psu.modular"
                placeholder=" "
                :items="psuModularList"
                :label="$t('psu.modular')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              >
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-range-slider
                dense
                v-model="inputVoltageRange"
                :label="$t('psu.input_voltage')"
                thumb-label
                min="10"
                max="300"
                step="10"
                :disabled="!isEditable"
              >
              </v-range-slider>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="psu.price"
                placeholder=" "
                type="number"
                :label="$t('psu.price')"
                prefix="₫"
                :rules="[intRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card class="pa-4">
                <v-img contain height="230" :src="urlImg">
                  <v-file-input
                    dense
                    hide-input
                    prepend-icon="mdi-camera"
                    accept="image/*"
                    :label="$t('common.image')"
                    @change="onImageChange"
                    @click:clear="onImageClear"
                    :disabled="!isEditable"
                  >
                  </v-file-input>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card-actions>
        <v-btn
          v-if="mode === 'U' && !isEditable && $store.getters.isAdmin"
          color="error"
          @click="onClickDeleteButton"
          text
        >
          {{ $t("common.delete") }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isEditable && !loadingButton"
          text
          @click="onClickCancelButton"
        >
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn v-if="!isEditable" text @click="onClickCancelDetailButton">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="!isEditable && $store.getters.isAdmin"
          text
          @click="onClickModifyButton"
        >
          {{ $t("common.modify") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="isEditable && $store.getters.isAdmin"
          text
          :loading="loadingButton"
          @click="onClickSaveButton"
          >{{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
      <v-dialog v-model="discardConfirmDialog" max-width="250">
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.discard_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDiscardButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn color="error" text @click="onClickConfirmDiscardButton">
              {{ $t("common.discard") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-if="mode === 'U'"
        v-model="deleteConfirmDialog"
        max-width="250"
      >
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.delete_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDeleteButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn
              color="error"
              text
              @click="onClickConfirmDeleteButton(psu.id)"
            >
              {{ $t("common.delete") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-dialog>
</template>

<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "PsuCu",
  mixins: [UrlPathMixins, ValidationMixins, UtilsMixins],
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: "C",
    },
    originalPsu: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      isEditable: false,
      psu: {},
      inputVoltageRange: [],
      urlImg: "",
      originalUrlImg: "",
      valid: false,
      loadingButton: false,
      deleteConfirmDialog: false,
      discardConfirmDialog: false,
    };
  },
  watch: {
    inputVoltageRange(range) {
      this.psu.inputVoltageMin = range[0];
      this.psu.inputVoltageMax = range[1];
    },
  },
  created() {
    if (this.mode === "C") {
      this.isEditable = true;
    }
    this.psu = { ...this.originalPsu };
    this.originalUrlImg = this.psu.img
      ? `${this.url.psuImg}/${this.psu.img}`
      : "";
    this.urlImg = this.originalUrlImg;
    this.inputVoltageRange = [
      this.originalPsu.inputVoltageMin,
      this.originalPsu.inputVoltageMax,
    ];
  },
  methods: {
    onClickModifyButton() {
      this.isEditable = true;
    },
    onClickCancelDeleteButton() {
      this.deleteConfirmDialog = false;
    },
    onClickConfirmDeleteButton(id) {
      this.$http
        .delete(`${this.url.psu}/${id}`)
        .then(() => {
          this.$http.delete(this.url.psuUploadImg, {
            data: [this.psu.img],
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.deleteConfirmDialog = false;
          this.$emit("close");
          this.$emit("search");
        });
    },
    onClickDeleteButton() {
      this.deleteConfirmDialog = true;
    },
    onClickCancelDiscardButton() {
      this.discardConfirmDialog = false;
    },
    onClickConfirmDiscardButton() {
      if (this.mode === "U") {
        this.$refs.form.resetValidation();
        this.isEditable = false;
        this.discardConfirmDialog = false;
        this.psu = { ...this.originalPsu };
        this.urlImg = this.originalUrlImg;
        this.inputVoltageRange = [
          this.originalPsu.inputVoltageMin,
          this.originalPsu.inputVoltageMax,
        ];
      } else {
        this.$emit("close");
      }
    },
    onClickCancelButton() {
      if (!this.compareObjects(this.originalPsu, this.psu)) {
        this.discardConfirmDialog = true;
      } else {
        this.onClickConfirmDiscardButton();
      }
    },
    onClickCancelDetailButton() {
      this.$emit("close");
    },
    async onClickSaveButton() {
      if (this.$refs.form.validate()) {
        this.loadingButton = true;
        let body = {
          name: this.psu.name || "",
          mfr: this.psu.mfr || "",
          form_factor: this.psu.formFactor || "",
          fan_size: this.psu.fanSize || 0,
          length: this.psu.length || 0,
          input_voltage_min: this.psu.inputVoltageMin || 0,
          input_voltage_max: this.psu.inputVoltageMax || 0,
          wattage: this.psu.wattage || 0,
          standard: this.psu.standard || "",
          modular: this.psu.modular || "",
          price: this.psu.price || 0,
        };
        if (this.psu.imgFile) {
          let formData = new FormData();
          formData.append("img", this.psu.imgFile);
          await this.$http.post(this.url.psuUploadImg, formData).then((res) => {
            body.img = res.data.filename;
          });
        }
        if (this.mode === "C") {
          this.$http
            .post(this.url.psu, body)
            .catch((err) => {
              this.$http.delete(this.url.psuUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        } else if (this.mode === "U") {
          this.$http
            .put(`${this.url.psu}/${this.psu.id}`, body)
            .then((res) => {
              if (this.psu.imgFile) {
                this.$http.delete(this.url.psuUploadImg, {
                  data: [this.psu.img],
                });
              }
            })
            .catch((err) => {
              this.$http.delete(this.url.psuUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        }
      }
    },
    onImageChange(img) {
      if (img) {
        this.psu.imgFile = img;
        this.setUrlImg(img);
      }
    },
    setUrlImg(img) {
      this.urlImg = URL.createObjectURL(img);
    },
    onImageClear() {
      this.psu.imgFile = "";
      this.urlImg = "";
    },
  },
};
</script>
<style lang="scss" scoped>
</style>
