<template>
  <v-container fluid class="psu-list">
    <v-container fluid>
      <v-row class="psu-list__row">
        <v-col
          class="psu-list__col"
          v-for="(psu, index) in psuList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="psu-list__card"
            @click="onClickCard(psu)"
            @mouseover="onMouseOverCard(psu)"
            @mouseleave="onMouseLeaveCard(psu)"
          >
            <v-img height="150" contain :src="getPsuImg(psu.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ psu.mfr }} {{ psu.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="psu-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(psu.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("psu.wattage") }}: {{ psu.wattage }} W
              </div>
              <div
                v-if="psu.input_voltage_min !== psu.input_voltage_max"
                class="subtitle-2 ellipsis"
              >
                • {{ $t("psu.input_voltage") }}: {{ psu.input_voltage_min }}-{{
                  psu.input_voltage_max
                }}
                V
              </div>
              <div v-else class="subtitle-2 ellipsis">
                • {{ $t("psu.input_voltage") }}: {{ psu.input_voltage_max }} V
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("psu.modular") }}: {{ psu.modular }}
              </div>
              <div v-if="psu.standard" class="subtitle-2 ellipsis">
                • {{ $t("psu.standard") }}: {{ psu.standard }}
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="psu.reveal"
                class="transition-fast-in-fast-out psu-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("psu.name") }}: {{ psu.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("psu.mfr") }}: {{ psu.mfr }}
                  </div>
                  <div class="subtitle-2 ellipsis">
                    • {{ $t("psu.form_factor") }}: {{ psu.form_factor }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("psu.fan_size") }}: {{ psu.fan_size }} mm
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("psu.length") }}: {{ psu.length }} mm
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("psu.wattage") }}: {{ psu.wattage }} MHz
                  </div>
                  <div
                    v-if="psu.input_voltage_min !== psu.input_voltage_max"
                    class="subtitle-2 ellipsis"
                  >
                    • {{ $t("psu.input_voltage") }}:
                    {{ psu.input_voltage_min }}-{{ psu.input_voltage_max }}
                    V
                  </div>
                  <div v-else class="subtitle-2 ellipsis">
                    • {{ $t("psu.input_voltage") }}:
                    {{ psu.input_voltage_max }} V
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("psu.modular") }}: {{ psu.modular }}
                  </div>
                  <div v-if="psu.standard" class="subtitle-2">
                    • {{ $t("psu.standard") }}: {{ psu.standard }}
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="psu-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <psu-cu
      v-if="showPsuCuForm"
      :visible="showPsuCuForm"
      :mode="mode"
      :originalPsu="selectedPsu"
      @close="showPsuCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('psu.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="psuManufacturerList"
              :label="$t('psu.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedModular"
              :items="psuModularList"
              :label="$t('psu.modular')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedStandard"
              :items="psuStandardList"
              :label="$t('psu.standard')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedFormFactor"
              :items="psuFormFactorList"
              :label="$t('psu.form_factor')"
              multiple
              chips
            ></v-select>
            <v-range-slider
              v-model="selectedWattageRange"
              :label="$t('psu.wattage')"
              thumb-label
              min="50"
              max="2000"
              step="50"
            >
            </v-range-slider>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParam">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParam">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import PsuCu from "./PsuCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Psu {
  constructor(
    id,
    name,
    mfr,
    formFactor,
    fanSize,
    length,
    inputVoltageMin,
    inputVoltageMax,
    wattage,
    standard,
    modular,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.mfr = mfr;
    this.formFactor = formFactor;
    this.fanSize = fanSize;
    this.length = length;
    this.inputVoltageMin = inputVoltageMin;
    this.inputVoltageMax = inputVoltageMax;
    this.wattage = wattage;
    this.standard = standard;
    this.modular = modular;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "PsuList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { PsuCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParam: "name",
      orderParam: "ASC",

      psuList: [],
      psuManufacturerList: [],
      psuModularList: [],
      psuStandardList: [],
      psuFormFactorList: [],

      sortByRadios: [
        { label: "psu.name", value: "name" },
        { label: "psu.price", value: "price" },
        { label: "psu.wattage", value: "wattage" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedModular: [],
      selectedStandard: [],
      selectedFormFactor: [],
      selectedWattageRange: [50, 2000],

      showPsuCuForm: false,
      selectedPsu: new Psu(0, "", "", "", 0, 0, 10, 10, 0, "", "", 0, ""),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildPsuList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getPsuImg(img) {
      if (img) {
        return `${this.url.psuImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.psuUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.psuImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildPsuList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let psuExportedList = [];
      await this.$http
        .get(this.url.psu, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((psu) => {
            delete psu.id;
            psuExportedList.push(psu);
          });
        });
      this.exportFile(
        this.url.psuExport,
        psuExportedList,
        "psus",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showPsuCuForm = true;
      this.selectedPsu = new Psu(0, "", "", "", 0, 0, 10, 10, 0, "", "", 0, "");
    },
    onClickResetSortButton() {
      this.sortParam = "name";
      this.orderParam = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        modular: this.selectedModular,
        standard: this.selectedStandard,
        form_factor: this.selectedFormFactor,
        wattage: {
          min: this.selectedWattageRange[0],
          max: this.selectedWattageRange[1],
        },
      };
      this.sortOrder = {
        sort: this.sortParam,
        order: this.orderParam,
      };
      this.currentPage = 1;
      this.buildPsuList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedModular = [];
      this.selectedStandard = [];
      this.selectedFormFactor = [];
      this.selectedWattageRange = [50, 2000];
    },
    onMouseOverCard(psu) {
      psu.reveal = true;
    },
    onMouseLeaveCard(psu) {
      psu.reveal = false;
    },
    onClickCard(psu) {
      this.selectedPsu = new Psu(
        psu.id,
        psu.name,
        psu.mfr,
        psu.form_factor,
        psu.fan_size,
        psu.length,
        psu.input_voltage_min,
        psu.input_voltage_max,
        psu.wattage,
        psu.standard,
        psu.modular,
        psu.price,
        psu.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showPsuCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedPsu);
      }
    },

    searchPsuList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, { params: { ...pagination, ...query, ...sortOrder } })
        .then((res) => {
          this.psuList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((psu) => {
            psu.reveal = false;
            this.psuList.push(psu);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.psuManufacturerList = [];
      this.psuModularList = [];
      this.psuStandardList = [];
      this.psuFormFactorList = [];

      return this.$http
        .get(this.url.psu, { params: { size: 9999 } })
        .then((res) => {
          res.data.items.forEach((psu) => {
            if (psu.mfr && this.psuManufacturerList.indexOf(psu.mfr) === -1) {
              this.psuManufacturerList.push(psu.mfr);
            }
            if (
              psu.modular &&
              this.psuModularList.indexOf(psu.modular) === -1
            ) {
              this.psuModularList.push(psu.modular);
            }
            if (
              psu.standard &&
              this.psuStandardList.indexOf(psu.standard) === -1
            ) {
              this.psuStandardList.push(psu.standard);
            }
            if (
              psu.form_factor &&
              this.psuFormFactorList.indexOf(psu.form_factor) === -1
            ) {
              this.psuFormFactorList.push(psu.form_factor);
            }
          });
          this.psuManufacturerList.sort();
          this.psuModularList.sort();
          this.psuStandardList.sort();
          this.psuFormFactorList.sort();
        })
        .catch((err) => {});
    },
    buildPsuList() {
      this.searchPsuList(
        this.url.psu,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildPsuList();
    },
  },
};
</script>

<style lang="scss" scoped>
.psu-list {
  display: flex;
  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>
