<template>
  <v-dialog
    v-model="visible"
    width="1000px"
    @click:outside="onClickCancelDetailButton"
    class="chas-cu-dialog"
  >
    <v-card>
      <v-card-title v-if="mode === 'C'">
        <v-icon>mdi-database-plus-outline</v-icon>&nbsp;
        {{ $t("chas.add_chas") }}
      </v-card-title>
      <v-card-title v-else-if="mode === 'U' && isEditable">
        <v-icon>mdi-database-edit-outline</v-icon>&nbsp;
        {{ $t("chas.edit_chas") }}
      </v-card-title>
      <v-card-title v-else>
        <v-icon>mdi-database-outline</v-icon>&nbsp;
        {{ $t("chas.chas_detail") }}
      </v-card-title>
      <v-form v-model="valid" ref="form">
        <v-container class="pl-8 pr-8">
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="chas.name"
                placeholder=" "
                :label="$t('chas.name')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="chas.model"
                placeholder=" "
                :label="$t('chas.model')"
                :rules="[textRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="chas.mfr"
                placeholder=" "
                :items="chasMfrList"
                :label="$t('chas.mfr')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-select
                dense
                v-model="chas.formFactor"
                placeholder=" "
                :items="chasFormFactorList"
                :label="$t('chas.form_factor')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              >
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-select
                dense
                v-model="chas.moboFormFactor"
                placeholder=" "
                :items="moboFormFactorList"
                :label="$t('chas.mobo_form_factor')"
                :rules="[arrayrequiredRule]"
                multiple
                :disabled="!isEditable"
              >
                <template v-slot:selection="{ item, index }">
                  <span v-if="index === 0">{{ item }}</span>
                  <span v-if="index === 1"> ... </span>
                </template>
              </v-select>
            </v-col>
            <v-col cols="6">
              <v-select
                dense
                v-model="chas.psuFormFactor"
                placeholder=" "
                :items="psuFormFactorList"
                :label="$t('chas.psu_form_factor')"
                :rules="[arrayrequiredRule]"
                multiple
                :disabled="!isEditable"
              >
                <template v-slot:selection="{ item, index }">
                  <span v-if="index === 0">{{ item }}</span>
                  <span v-if="index === 1"> ... </span>
                </template>
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="chas.hddSlotNum"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('chas.hdd_slot_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="chas.ssdSlotNum"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('chas.ssd_slot_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="chas.fanSlotNum"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('chas.fan_slot_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="chas.gpuLength"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('chas.gpu_length')"
                suffix="mm"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="chas.psuLength"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('chas.psu_length')"
                suffix="mm"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="chas.cpuCoolerHeight"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('chas.cpu_cooler_height')"
                suffix="mm"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="chas.price"
                placeholder=" "
                type="number"
                :label="$t('chas.price')"
                prefix="₫"
                :rules="[intRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card class="pa-4">
                <v-img contain height="230" :src="urlImg">
                  <v-file-input
                    dense
                    hide-input
                    prepend-icon="mdi-camera"
                    accept="image/*"
                    :label="$t('common.image')"
                    @change="onImageChange"
                    @click:clear="onImageClear"
                    :disabled="!isEditable"
                  >
                  </v-file-input>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card-actions>
        <v-btn
          v-if="mode === 'U' && !isEditable && $store.getters.isAdmin"
          color="error"
          @click="onClickDeleteButton"
          text
        >
          {{ $t("common.delete") }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isEditable && !loadingButton"
          text
          @click="onClickCancelButton"
        >
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn v-if="!isEditable" text @click="onClickCancelDetailButton">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="!isEditable && $store.getters.isAdmin"
          text
          @click="onClickModifyButton"
        >
          {{ $t("common.modify") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="isEditable && $store.getters.isAdmin"
          text
          :loading="loadingButton"
          @click="onClickSaveButton"
          >{{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
      <v-dialog v-model="discardConfirmDialog" max-width="250">
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.discard_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDiscardButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn color="error" text @click="onClickConfirmDiscardButton">
              {{ $t("common.discard") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-if="mode === 'U'"
        v-model="deleteConfirmDialog"
        max-width="250"
      >
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.delete_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDeleteButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn
              color="error"
              text
              @click="onClickConfirmDeleteButton(chas.id)"
            >
              {{ $t("common.delete") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-dialog>
</template>

<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "ChasCu",
  mixins: [UrlPathMixins, ValidationMixins, UtilsMixins],
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: "C",
    },
    originalChas: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      isEditable: false,
      chas: {},
      urlImg: "",
      originalUrlImg: "",
      valid: false,
      loadingButton: false,
      deleteConfirmDialog: false,
      discardConfirmDialog: false,
    };
  },
  created() {
    if (this.mode === "C") {
      this.isEditable = true;
    }
    this.chas = { ...this.originalChas };
    this.originalUrlImg = this.chas.img
      ? `${this.url.chasImg}/${this.chas.img}`
      : "";
    this.urlImg = this.originalUrlImg;
  },
  methods: {
    onClickModifyButton() {
      this.isEditable = true;
    },
    onClickCancelDeleteButton() {
      this.deleteConfirmDialog = false;
    },
    onClickConfirmDeleteButton(id) {
      this.$http
        .delete(`${this.url.chas}/${id}`)
        .then(() => {
          this.$http.delete(this.url.chasUploadImg, {
            data: [this.chas.img],
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.deleteConfirmDialog = false;
          this.$emit("close");
          this.$emit("search");
        });
    },
    onClickDeleteButton() {
      this.deleteConfirmDialog = true;
    },
    onClickCancelDiscardButton() {
      this.discardConfirmDialog = false;
    },
    onClickConfirmDiscardButton() {
      if (this.mode === "U") {
        this.$refs.form.resetValidation();
        this.isEditable = false;
        this.discardConfirmDialog = false;
        this.chas = { ...this.originalChas };
        this.urlImg = this.originalUrlImg;
      } else {
        this.$emit("close");
      }
    },
    onClickCancelButton() {
      if (!this.compareObjects(this.originalChas, this.chas)) {
        this.discardConfirmDialog = true;
      } else {
        this.onClickConfirmDiscardButton();
      }
    },
    onClickCancelDetailButton() {
      this.$emit("close");
    },
    async onClickSaveButton() {
      if (this.$refs.form.validate()) {
        this.loadingButton = true;
        let body = {
          name: this.chas.name || "",
          model: this.chas.model || "",
          mfr: this.chas.mfr || "",
          form_factor: this.chas.formFactor || "",
          mobo_form_factor: JSON.stringify(this.chas.moboFormFactor) || "",
          psu_form_factor: JSON.stringify(this.chas.psuFormFactor) || "",
          hdd_slot_num: this.chas.hddSlotNum || 0,
          ssd_slot_num: this.chas.ssdSlotNum || 0,
          fan_slot_num: this.chas.fanSlotNum || 0,
          gpu_length: this.chas.gpuLength || 0,
          psu_length: this.chas.psuLength || 0,
          cpu_cooler_height: this.chas.cpuCoolerHeight || 0,
          price: this.chas.price || 0,
        };
        if (this.chas.imgFile) {
          let formData = new FormData();
          formData.append("img", this.chas.imgFile);
          await this.$http
            .post(this.url.chasUploadImg, formData)
            .then((res) => {
              body.img = res.data.filename;
            });
        }
        if (this.mode === "C") {
          this.$http
            .post(this.url.chas, body)
            .catch((err) => {
              this.$http.delete(this.url.chasUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        } else if (this.mode === "U") {
          this.$http
            .put(`${this.url.chas}/${this.chas.id}`, body)
            .then((res) => {
              if (this.chas.imgFile) {
                this.$http.delete(this.url.chasUploadImg, {
                  data: [this.chas.img],
                });
              }
            })
            .catch((err) => {
              this.$http.delete(this.url.chasUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        }
      }
    },
    onImageChange(img) {
      if (img) {
        this.chas.imgFile = img;
        this.setUrlImg(img);
      }
    },
    setUrlImg(img) {
      this.urlImg = URL.createObjectURL(img);
    },
    onImageClear() {
      this.chas.imgFile = "";
      this.urlImg = "";
    },
  },
};
</script>
<style lang="scss" scoped>
</style>