<template>
  <v-container fluid class="chas-list">
    <v-container fluid>
      <v-row class="chas-list__row">
        <v-col
          class="chas-list__col"
          v-for="(chas, index) in chasList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="chas-list__card"
            @click="onClickCard(chas)"
            @mouseover="onMouseOverCard(chas)"
            @mouseleave="onMouseLeaveCard(chas)"
          >
            <v-img height="150" contain :src="getChasImg(chas.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ chas.mfr }} {{ chas.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="chas-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(chas.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("chas.form_factor") }}: {{ chas.form_factor }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("chas.mobo_form_factor") }}:
                {{
                  chas.mobo_form_factor
                    ? JSON.parse(chas.mobo_form_factor).join(", ")
                    : ""
                }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("chas.psu_form_factor") }}:
                {{
                  chas.psu_form_factor
                    ? JSON.parse(chas.psu_form_factor).join(", ")
                    : ""
                }}
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="chas.reveal"
                class="transition-fast-in-fast-out chas-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("chas.name") }}: {{ chas.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.model") }}: {{ chas.model }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.mfr") }}: {{ chas.mfr }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.form_factor") }}: {{ chas.form_factor }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.mobo_form_factor") }}:
                    {{
                      chas.mobo_form_factor
                        ? JSON.parse(chas.mobo_form_factor).join(", ")
                        : ""
                    }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.psu_form_factor") }}:
                    {{
                      chas.psu_form_factor
                        ? JSON.parse(chas.psu_form_factor).join(", ")
                        : ""
                    }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.hdd_slot_num") }}: {{ chas.hdd_slot_num }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.ssd_slot_num") }}: {{ chas.ssd_slot_num }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.fan_slot_num") }}: {{ chas.fan_slot_num }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.gpu_length") }}: {{ chas.gpu_length }} mm
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.psu_length") }}: {{ chas.psu_length }} mm
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("chas.cpu_cooler_height") }}:
                    {{ chas.cpu_cooler_height }} mm
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="chas-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <chas-cu
      v-if="showChasCuForm"
      :visible="showChasCuForm"
      :mode="mode"
      :originalChas="selectedChas"
      @close="showChasCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('chas.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="chasManufacturerList"
              :label="$t('chas.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedFormFactor"
              :items="chasFormFactorList"
              :label="$t('chas.form_factor')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedMoboFormFactor"
              :items="chasMoboFormFactorList"
              :label="$t('chas.mobo_form_factor')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedPsuFormFactor"
              :items="chasPsuFormFactorList"
              :label="$t('chas.psu_form_factor')"
              multiple
              chips
            ></v-select>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParams">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParams">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import ChasCu from "./ChasCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Chas {
  constructor(
    id,
    name,
    model,
    mfr,
    formFactor,
    moboFormFactor,
    psuFormFactor,
    hddSlotNum,
    ssdSlotNum,
    fanSlotNum,
    gpuLength,
    psuLength,
    cpuCoolerHeight,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.model = model;
    this.mfr = mfr;
    this.formFactor = formFactor;
    this.moboFormFactor = moboFormFactor;
    this.psuFormFactor = psuFormFactor;
    this.hddSlotNum = hddSlotNum;
    this.ssdSlotNum = ssdSlotNum;
    this.fanSlotNum = fanSlotNum;
    this.gpuLength = gpuLength;
    this.psuLength = psuLength;
    this.cpuCoolerHeight = cpuCoolerHeight;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "ChasList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { ChasCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
    strict: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParams: "name",
      orderParams: "ASC",

      chasList: [],
      chasManufacturerList: [],
      chasMoboFormFactorList: [],
      chasFormFactorList: [],
      chasPsuFormFactorList: [],

      sortByRadios: [
        { label: "chas.name", value: "name" },
        { label: "chas.price", value: "price" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedMoboFormFactor: [],
      selectedFormFactor: [],
      selectedPsuFormFactor: [],

      showChasCuForm: false,
      selectedChas: new Chas(
        0,
        "",
        "",
        "",
        "",
        "",
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        ""
      ),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildChasList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  computed: {
    processedStrict() {
      return {
        mobo_form_factor: this.strict.moboFormFactor
          ? [this.strict.moboFormFactor]
          : [],
      };
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getChasImg(img) {
      if (img) {
        return `${this.url.chasImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.chasUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.chasImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildChasList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let chasExportedList = [];
      await this.$http
        .get(this.url.chas, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((chas) => {
            delete chas.id;
            chasExportedList.push(chas);
          });
        });
      this.exportFile(
        this.url.chasExport,
        chasExportedList,
        "chas",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showChasCuForm = true;
      this.selectedChas = new Chas(
        0,
        "",
        "",
        "",
        "",
        "",
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        ""
      );
    },
    onClickResetSortButton() {
      this.sortParams = "name";
      this.orderParams = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        form_factor: this.selectedFormFactor,
        mobo_form_factor: this.selectedMoboFormFactor,
        psu_form_factor: this.selectedPsuFormFactor,
      };
      this.sortOrder = {
        sort: this.sortParams,
        order: this.orderParams,
      };
      this.currentPage = 1;
      this.buildChasList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedFormFactor = [];
      this.selectedMoboFormFactor = [];
      this.selectedPsuFormFactor = [];
    },
    onMouseOverCard(chas) {
      chas.reveal = true;
    },
    onMouseLeaveCard(chas) {
      chas.reveal = false;
    },
    onClickCard(chas) {
      this.selectedChas = new Chas(
        chas.id,
        chas.name,
        chas.model,
        chas.mfr,
        chas.form_factor,
        JSON.parse(chas.mobo_form_factor),
        JSON.parse(chas.psu_form_factor),
        chas.hdd_slot_num,
        chas.ssd_slot_num,
        chas.fan_slot_num,
        chas.gpu_length,
        chas.psu_length,
        chas.cpu_cooler_height,
        chas.price,
        chas.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showChasCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedChas);
      }
    },

    searchChasList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, {
          params: {
            ...pagination,
            ...query,
            ...sortOrder,
            ...this.processedStrict,
          },
        })
        .then((res) => {
          this.chasList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((chas) => {
            chas.reveal = false;
            this.chasList.push(chas);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.chasManufacturerList = [];
      this.chasFormFactorList = [];
      this.chasMoboFormFactorList = [];
      this.chasPsuFormFactorList = [];

      return this.$http
        .get(this.url.chas, { params: { size: 9999, ...this.processedStrict } })
        .then((res) => {
          res.data.items.forEach((chas) => {
            if (
              chas.mfr &&
              this.chasManufacturerList.indexOf(chas.mfr) === -1
            ) {
              this.chasManufacturerList.push(chas.mfr);
            }
            if (
              chas.form_factor &&
              this.chasFormFactorList.indexOf(chas.form_factor) === -1
            ) {
              this.chasFormFactorList.push(chas.form_factor);
            }
            if (chas.mobo_form_factor) {
              JSON.parse(chas.mobo_form_factor).forEach((item) => {
                if (this.chasMoboFormFactorList.indexOf(item) === -1) {
                  this.chasMoboFormFactorList.push(item);
                }
              });
            }
            if (chas.psu_form_factor) {
              JSON.parse(chas.psu_form_factor).forEach((item) => {
                if (this.chasPsuFormFactorList.indexOf(item) === -1) {
                  this.chasPsuFormFactorList.push(item);
                }
              });
            }
          });
          this.chasManufacturerList.sort();
          this.chasFormFactorList.sort();
          this.chasMoboFormFactorList.sort();
          this.chasPsuFormFactorList.sort((a, b) => a - b);
        })
        .catch((err) => {});
    },
    buildChasList() {
      this.searchChasList(
        this.url.chas,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildChasList();
    },
  },
};
</script>

<style lang="scss" scoped>
.chas-list {
  display: flex;
  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>