<template>
  <v-container class="login fill-height">
    <v-card class="login-form">
      <v-card-title class="justify-center">
        {{ $t("common.login") }}
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-text-field
            v-model="credentials.username"
            :label="$t('common.username')"
            :rules="[textRule, requiredRule]"
            autocomplete="username"
            @keyup.enter="onClickLoginButton"
          ></v-text-field>
          <v-text-field
            v-model="credentials.password"
            :type="showPassword ? 'text' : 'password'"
            :label="$t('common.password')"
            :rules="[textRule, requiredRule]"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            autocomplete="password"
            @click:append="showPassword = !showPassword"
            @keyup.enter="onClickLoginButton"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn class="login-form__button" to="register" text>{{
          $t("common.register")
        }}</v-btn>
        <v-btn
          class="login-form__button"
          @click="onClickLoginButton"
          color="primary"
          text
        >
          {{ $t("common.login") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
export default {
  name: "Login",
  mixins: [UrlPathMixins, ValidationMixins],
  data() {
    return {
      credentials: {
        username: "",
        password: "",
      },
      valid: false,
      showPassword: false,
    };
  },
  methods: {
    onClickLoginButton() {
      if (this.$refs.form.validate()) {
        this.$emit("showProgress", true);
        this.$http
          .post(this.url.login, this.credentials)
          .then((res) => {
            const token = res.data.token;
            const user = res.data.user;
            this.$store.dispatch("login", { token, user });
            this.$emit("reload");
            this.$emit("showProgress", false);
            this.$router.push({ name: "homepage" }).catch(() => {});
          })
          .catch((err) => {
            let snackbar = {
              err: true,
              msg: err.response.data.msg,
            };
            this.$emit("notifyError", snackbar);
            this.$emit("showProgress", false);
          });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.login {
  display: flex;
  justify-content: center;
  &-form {
    width: 500px;
    &__button {
      width: 50%;
      margin: 0 !important;
    }
  }
}
</style>