<template>
  <v-container class="profile fill-height">
    <v-card class="profile-form">
      <v-card-title class="justify-center">
        {{ $t("common.profile") }}
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-text-field
            v-model="credentials.username"
            :label="$t('common.username')"
            disabled
          ></v-text-field>
          <v-text-field
            v-model="credentials.email"
            :label="$t('common.email')"
            :rules="[emailRule]"
          ></v-text-field>
          <v-card class="pa-4">
            <v-img contain height="150" :src="urlImg">
              <v-file-input
                dense
                hide-input
                prepend-icon="mdi-camera"
                accept="image/*"
                :label="$t('common.image')"
                @change="onImageChange"
                @click:clear="onImageClear"
              >
              </v-file-input>
            </v-img>
          </v-card>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn class="profile-form__button" to="set-password" text>{{
          $t("common.set_password")
        }}</v-btn>
        <v-btn
          class="profile-form__button"
          @click="onClickSaveButton"
          color="primary"
          text
        >
          {{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
      <v-card-actions>
        <v-btn text block @click="onClickLogoutButton" color="error">
          {{ $t("common.logout") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
export default {
  name: "Profile",
  mixins: [UrlPathMixins, ValidationMixins],
  data() {
    return {
      credentials: {
        username: "",
        email: "",
        avatar: "",
      },
      valid: false,
      isEditable: false,
      imgFile: "",
      urlImg: "",
    };
  },
  created() {
    this.credentials.username = this.$store.getters.getUsername;
    this.$http
      .get(`${this.url.user}/${this.credentials.username}`)
      .then((res) => {
        this.credentials.email = res.data.email;
        this.credentials.avatar = res.data.avatar;
        this.urlImg = this.credentials.avatar
          ? `${this.url.userAvatar}/${this.credentials.avatar}`
          : "";
      });
  },
  methods: {
    async onClickSaveButton() {
      if (this.$refs.form.validate()) {
        this.$emit("showProgress", true);
        let body = {
          email: this.credentials.email,
        };
        if (this.imgFile) {
          let formData = new FormData();
          formData.append("img", this.imgFile);
          await this.$http
            .post(this.url.userUploadAvatar, formData)
            .then((res) => {
              body.avatar = res.data.filename;
            });
        }
        await this.$http
          .put(`${this.url.user}/${this.credentials.username}`, body)
          .then((res) => {
            if (this.imgFile) {
              this.$http.delete(this.url.userUploadAvatar, {
                data: [this.credentials.avatar],
              });
            }
            this.$emit("showProgress", false);
            this.$emit("reload");
            this.$router.push({ name: "homepage" }).catch(() => {});
          })
          .catch((err) => {
            let snackbar = {
              err: true,
              msg: err.response.data.msg,
            };
            this.$emit("notifyError", snackbar);
            this.$emit("showProgress", false);
          });
      }
    },
    onImageChange(img) {
      if (img) {
        this.imgFile = img;
        this.setUrlImg(img);
      }
    },
    setUrlImg(img) {
      this.urlImg = URL.createObjectURL(img);
    },
    onImageClear() {
      this.imgFile = "";
      this.urlImg = "";
    },
    onClickLogoutButton() {
      this.$store.dispatch("logout");
      this.$emit("reload");
      this.$router.push({ name: "login" }).catch(() => {});
    },
  },
};
</script>
<style lang="scss" scoped>
.profile {
  display: flex;
  justify-content: center;
}
.profile-form {
  width: 500px;
}
.profile-form__button {
  width: 50%;
  margin: 0 !important;
}
</style>