<template>
  <v-container class="register fill-height">
    <v-card class="register-form">
      <v-card-title class="justify-center">
        {{ $t("common.register") }}
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-text-field
            v-model="credentials.username"
            :label="$t('common.username')"
            :rules="[usernameRule, requiredRule, textRule]"
            :counter="50"
          ></v-text-field>
          <v-text-field
            v-model="credentials.password"
            :type="showPassword ? 'text' : 'password'"
            :label="$t('common.password')"
            :rules="[passwordRule, requiredRule]"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
          <v-text-field
            v-model="credentials.passwordConfirm"
            :type="showConfirmPassword ? 'text' : 'password'"
            :label="$t('common.password_confirm')"
            :rules="[passwordRule, passwordConfirmRules, requiredRule]"
            :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showConfirmPassword = !showConfirmPassword"
          ></v-text-field>
          <v-text-field
            v-model="credentials.email"
            :label="$t('common.email')"
            :rules="[emailRule, textRule]"
            :counter="50"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn class="register-form__button" to="login" text>{{
          $t("common.login")
        }}</v-btn>
        <v-btn
          class="register-form__button"
          @click="onClickRegisterButton"
          color="primary"
          text
        >
          {{ $t("common.register") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
export default {
  name: "Register",
  mixins: [UrlPathMixins, ValidationMixins],
  data() {
    return {
      credentials: {
        username: "",
        password: "",
        passwordConfirm: "",
        email: "",
      },
      valid: false,
      showPassword: false,
      showConfirmPassword: false,
    };
  },
  computed: {
    passwordConfirmRules() {
      return (v) =>
        v === this.credentials.password ||
        this.$t("message.password_confirm_rule_msg");
    },
  },
  methods: {
    onClickRegisterButton() {
      if (this.$refs.form.validate()) {
        this.$emit("showProgress", true);
        let body = {
          username: this.credentials.username,
          password: this.credentials.password,
          password_confirm: this.credentials.passwordConfirm,
          email: this.credentials.email,
        };
        this.$http
          .post(this.url.register, body)
          .then((res) => {
            this.$emit("showProgress", false);
            this.$router.push({ name: "login" }).catch(() => {});
          })
          .catch((err) => {
            let snackbar = {
              err: true,
              msg: err.response.data.msg,
            };
            this.$emit("notifyError", snackbar);
            this.$emit("showProgress", false);
          });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.register {
  display: flex;
  justify-content: center;
  &-form {
    width: 500px;
    &__button {
      width: 50%;
      margin: 0 !important;
    }
  }
}
</style>