<template>
  <v-container class="set-password fill-height">
    <v-card class="set-password-form">
      <v-card-title class="justify-center">
        {{ $t("common.set_password") }}
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-text-field
            v-model="credentials.currentPassword"
            :type="showPassword ? 'text' : 'password'"
            :label="$t('common.current_password')"
            :rules="[passwordRule, requiredRule]"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            autocomplete="current-password"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
          <v-text-field
            v-model="credentials.newPassword"
            :type="showPassword ? 'text' : 'password'"
            :label="$t('common.new_password')"
            :rules="[passwordRule, requiredRule]"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            autocomplete="new-password"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
          <v-text-field
            v-model="credentials.passwordConfirm"
            :type="showConfirmPassword ? 'text' : 'password'"
            :label="$t('common.password_confirm')"
            :rules="[passwordRule, passwordConfirmRules, requiredRule]"
            :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
            autocomplete="new-password"
            @click:append="showConfirmPassword = !showConfirmPassword"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn class="set-password-form__button" to="profile" text>{{
          $t("common.profile")
        }}</v-btn>
        <v-btn
          class="set-password-form__button"
          @click="onClickSetPasswordButton"
          color="primary"
          text
        >
          {{ $t("common.set_password") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
export default {
  name: "SetPassword",
  mixins: [UrlPathMixins, ValidationMixins],
  data() {
    return {
      credentials: {
        username: "",
        currentPassword: "",
        newPassword: "",
        passwordConfirm: "",
      },
      valid: false,
      showPassword: false,
      showConfirmPassword: false,
    };
  },
  created() {
    this.credentials.username = this.$store.getters.getUsername;
  },
  computed: {
    passwordConfirmRules() {
      return (v) =>
        v === this.credentials.newPassword ||
        this.$t("message.password_confirm_rule_msg");
    },
  },
  methods: {
    onClickSetPasswordButton() {
      if (this.$refs.form.validate()) {
        this.$emit("showProgress", true);
        let body = {
          current_password: this.credentials.currentPassword,
          new_password: this.credentials.newPassword,
          password_confirm: this.credentials.passwordConfirm,
        };
        this.$http
          .put(`${this.url.userSetPassword}/${this.credentials.username}`, body)
          .then((res) => {
            this.$emit("showProgress", false);
            this.$router.push({ name: "homepage" }).catch(() => {});
          })
          .catch((err) => {
            let snackbar = {
              err: true,
              msg: err.response.data.msg,
            };
            this.$emit("notifyError", snackbar);
            this.$emit("showProgress", false);
          });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.set-password {
  display: flex;
  justify-content: center;
  &-form {
    width: 500px;
    &__button {
      width: 50%;
      margin: 0 !important;
    }
  }
}
</style>