<template>
  <div class="app">
    <v-app>
      <v-toolbar height="56px" dark class="app__navbar">
        <v-app-bar-nav-icon @click.stop="onToggleDrawer"></v-app-bar-nav-icon>
        <v-toolbar-title
          @click="onClickGoToHomePage"
          class="app__toolbar-title"
        >
          ComParts
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-dialog v-model="langDialog" max-width="250">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon>mdi-translate</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>{{ $t("common.confirm") }}</v-card-title>
            <v-card-text>{{ $t("message.change_lang_msg") }} </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text @click="onClickCancelChangeLanguageButton">
                {{ $t("common.cancel") }}
              </v-btn>
              <v-btn
                color="primary"
                text
                @click="onClickConfirmChangeLanguageButton"
              >
                {{ $t("common.confirm") }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-main class="app__main-page grey lighten-4">
        <router-view
          :key="$route.fullPath"
          @notifyError="setSnackbar"
          @showProgress="setProgress"
          @reload="updateUserInfo"
        ></router-view>
      </v-main>
      <v-navigation-drawer
        class="app__navdrawer"
        v-model="drawer"
        absolute
        temporary
        dark
      >
        <v-list-item
          v-if="!$store.getters.isLoggedIn"
          :disabled="$route.path === '/login'"
          @click="onClickLoginButton"
        >
          <v-list-item-avatar>
            <v-img :src="urlImg"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ $t("common.login") }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-else
          :disabled="$route.path === '/profile'"
          @click="onClickGoToProfile"
        >
          <v-list-item-avatar>
            <v-img :src="urlImg"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{
              $store.getters.getUsername
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list dense>
          <v-list-item
            :class="{
              'app__navdrawer__item--active':
                $route.path.split('/')[1] === item.value,
            }"
            :disabled="$route.path.split('/')[1] === item.value"
            v-for="(item, index) in menuComponentItems"
            :key="index"
            @click="onClickMenuItem(item.value)"
            link
          >
            <v-list-item-icon>
              <v-img width="24px" :src="`/static/assets/${item.icon}`"> </v-img>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list dense>
          <v-list-item
            :class="{
              'app__navdrawer__item--active':
                $route.path.split('/')[1] === item.value,
            }"
            :disabled="$route.path.split('/')[1] === item.value"
            v-for="(item, index) in menuPcBuilderItems"
            :key="index"
            @click="onClickMenuItem(item.value)"
            link
          >
            <v-list-item-icon>
              <v-img width="24px" :src="`/static/assets/${item.icon}`"> </v-img>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-overlay :value="progress">
        <v-progress-circular
          :active="progress"
          indeterminate
          fixed
          color="grey"
          size="64"
          width="8"
        ></v-progress-circular>
      </v-overlay>
      <v-snackbar v-model="snackbar.err">
        {{ snackbar.msg }}
      </v-snackbar>
      <v-footer height="56px" color="grey darken-4" padless fixed>
        <v-row justify="center" no-gutters>
          <v-btn
            v-for="(item, index) in footerItems"
            :key="index"
            color="white"
            text
            rounded
            class="my-2"
          >
            {{ $t(item.title) }}
          </v-btn>
        </v-row>
      </v-footer>
    </v-app>
  </div>
</template>

<script>
import UrlPathMixins from "./mixins/UrlPathMixins";
import UtilsMixins from "./mixins/UtilsMixins";
import { uuid } from "vue-uuid";

export default {
  mixins: [UrlPathMixins, UtilsMixins],
  name: "App",
  data() {
    return {
      drawer: false,
      langDialog: false,
      snackbar: {
        err: false,
        msg: "",
      },
      progress: false,
      credentials: {
        username: "",
        email: "",
        avatar: "",
      },
      urlImg: "",

      menuComponentItems: [
        {
          title: "label.cpu_label",
          icon: "chip.svg",
          value: "cpu",
        },
        {
          title: "label.mobo_label",
          icon: "motherboard.svg",
          value: "mobo",
        },
        {
          title: "label.ram_label",
          icon: "ram-memory.svg",
          value: "ram",
        },
        {
          title: "label.gpu_label",
          icon: "video-card.svg",
          value: "gpu",
        },
        {
          title: "label.hdd_label",
          icon: "hard-drive.svg",
          value: "hdd",
        },
        {
          title: "label.ssd_label",
          icon: "ssd.svg",
          value: "ssd",
        },
        {
          title: "label.psu_label",
          icon: "power-supply.svg",
          value: "psu",
        },
        {
          title: "label.chas_label",
          icon: "computer.svg",
          value: "chas",
        },
      ],
      menuPcBuilderItems: [
        {
          title: "label.pc_builder_label",
          icon: "pc.svg",
          value: "pc-builder",
        },
        {
          title: "label.pc_build_list_label",
          icon: "personal-computer.svg",
          value: "personal-build-list",
        },
      ],
      footerItems: [
        { title: "common.about_us", value: "about-us" },
        { title: "common.contact", value: "contact" },
        { title: "common.faq", value: "faq" },
      ],
    };
  },
  created() {
    this.setDefaultLanguage();
    this.updateUserInfo();
  },
  methods: {
    updateUserInfo() {
      this.credentials.username = this.$store.getters.getUsername;
      this.credentials.email = this.$store.getters.getEmail;
      this.credentials.avatar = this.$store.getters.getAvatar;

      this.urlImg = this.credentials.avatar
        ? `${this.url.userAvatar}/${this.credentials.avatar}`
        : "/static/assets/user.jpg";
    },
    onClickLoginButton() {
      this.$router.push({ name: "login" }).catch(() => {});
    },
    onClickGoToHomePage() {
      this.$router.push({ name: "homepage" }).catch(() => {});
    },
    onClickGoToProfile() {
      this.$router.push({ name: "profile" }).catch(() => {});
    },
    onClickMenuItem(item) {
      if (item === "pc-builder") {
        this.$router
          .push({ name: item, params: { id: uuid.v4() } })
          .catch(() => {});
      } else {
        this.$router.push({ name: item }).catch(() => {});
      }
    },
    setDefaultLanguage() {
      let currentLang = window.localStorage.getItem("language");
      if (currentLang) {
        this.$store.dispatch("setLang", currentLang);
      } else {
        this.$store.dispatch("setLang", "vi");
      }
    },
    onClickConfirmChangeLanguageButton() {
      if (this.$store.state.language.lang === "vi") {
        this.$store.dispatch("setLang", "en");
      } else {
        this.$store.dispatch("setLang", "vi");
      }
      this.langDialog = false;
    },
    onClickCancelChangeLanguageButton() {
      this.langDialog = false;
    },
    onToggleDrawer() {
      this.drawer = !this.drawer;
    },
    setSnackbar(obj) {
      this.snackbar.err = obj.err;
      this.snackbar.msg = obj.msg;
    },
    setProgress(val) {
      this.progress = val;
    },
  },
};
</script>

<style lang="scss" scoped>
.app {
  &__toolbar-title {
    cursor: pointer;
  }
  &__navdrawer {
    position: fixed;
    top: 48px;
    &__item--active {
      background-color: grey;
    }
  }

  &__navbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  &__main-page {
    display: flex;
    background-image: url("~/static/assets/background.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
  }
}
</style>