<template>
  <v-container fluid class="ram-list">
    <v-container fluid>
      <v-row class="ram-list__row">
        <v-col
          class="ram-list__col"
          v-for="(ram, index) in ramList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="ram-list__card"
            @click="onClickCard(ram)"
            @mouseover="onMouseOverCard(ram)"
            @mouseleave="onMouseLeaveCard(ram)"
          >
            <v-img height="150" contain :src="getRamImg(ram.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ ram.mfr }} {{ ram.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="ram-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(ram.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("ram.capacity") }}: {{ ram.capacity }} GB
              </div>
              <div v-if="ram.ecc === 'ecc'" class="subtitle-2 ellipsis">
                • {{ $t("ram.memory_type") }}: {{ ram.memory_type }} ECC
              </div>
              <div v-else class="subtitle-2 ellipsis">
                • {{ $t("ram.memory_type") }}: {{ ram.memory_type }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("ram.memory_freq") }}: {{ ram.memory_freq }} MHz
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("ram.cas_latency") }}: {{ ram.cas_latency }}
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="ram.reveal"
                class="transition-fast-in-fast-out ram-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("ram.name") }}: {{ ram.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ram.model") }}: {{ ram.model }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ram.mfr") }}: {{ ram.mfr }}
                  </div>
                  <div class="subtitle-2 ellipsis">
                    • {{ $t("ram.capacity") }}: {{ ram.capacity }} GB
                  </div>
                  <div v-if="ram.ecc === 'ecc'" class="subtitle-2">
                    • {{ $t("ram.memory_type") }}: {{ ram.memory_type }} ECC
                  </div>
                  <div v-else class="subtitle-2">
                    • {{ $t("ram.memory_type") }}: {{ ram.memory_type }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ram.memory_freq") }}: {{ ram.memory_freq }} MHz
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ram.modules") }}: {{ ram.modules }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ram.cas_latency") }}: {{ ram.cas_latency }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ram.voltage") }}: {{ ram.voltage }} V
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="ram-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <ram-cu
      v-if="showRamCuForm"
      :visible="showRamCuForm"
      :mode="mode"
      :originalRam="selectedRam"
      @close="showRamCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('ram.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="ramManufacturerList"
              :label="$t('ram.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedType"
              :items="ramTypeList"
              :label="$t('ram.memory_type')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedFrequency"
              :items="ramFrequencyList"
              :label="$t('ram.memory_freq')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedCapacity"
              :items="ramCapacityList"
              :label="$t('ram.capacity')"
              suffix="GB"
              multiple
              chips
            ></v-select>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParam">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParam">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import RamCu from "./RamCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Ram {
  constructor(
    id,
    name,
    model,
    mfr,
    capacity,
    modules,
    ecc,
    memoryType,
    memoryFreq,
    casLatency,
    voltage,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.model = model;
    this.mfr = mfr;
    this.capacity = capacity;
    this.modules = modules;
    this.ecc = ecc;
    this.memoryType = memoryType;
    this.memoryFreq = memoryFreq;
    this.casLatency = casLatency;
    this.voltage = voltage;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "RamList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { RamCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
    strict: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParam: "name",
      orderParam: "ASC",

      ramList: [],
      ramManufacturerList: [],
      ramTypeList: [],
      ramFrequencyList: [],
      ramCapacityList: [],

      sortByRadios: [
        { label: "ram.name", value: "name" },
        { label: "ram.price", value: "price" },
        { label: "ram.memory_freq", value: "memory_freq" },
        { label: "ram.capacity", value: "capacity" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedType: [],
      selectedFrequency: [],
      selectedCapacity: [],

      showRamCuForm: false,
      selectedRam: new Ram(0, "", "", "", "", "", "", 0, 0, 0, 0, 0, 0, 0, ""),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildRamList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  computed: {
    processedStrict() {
      return {
        memory_type:
          this.strict.cpuMemoryType || this.strict.moboMemoryType || "",
        ecc: this.strict.cpuEcc || this.strict.moboEcc || "",
      };
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getRamImg(img) {
      if (img) {
        return `${this.url.ramImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.ramUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.ramImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildRamList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let ramExportedList = [];
      await this.$http
        .get(this.url.ram, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((ram) => {
            delete ram.id;
            ramExportedList.push(ram);
          });
        });
      this.exportFile(
        this.url.ramExport,
        ramExportedList,
        "rams",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showRamCuForm = true;
      this.selectedRam = new Ram(0, "", "", "", 0, 0, "", "", 0, 0, 0, 0, "");
    },
    onClickResetSortButton() {
      this.sortParam = "name";
      this.orderParam = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        memory_type: this.selectedType,
        memory_freq: this.selectedFrequency,
        capacity: this.selectedCapacity,
      };
      this.sortOrder = {
        sort: this.sortParam,
        order: this.orderParam,
      };
      this.currentPage = 1;
      this.buildRamList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedType = [];
      this.selectedFrequency = [];
      this.selectedCapacity = [];
    },
    onMouseOverCard(ram) {
      ram.reveal = true;
    },
    onMouseLeaveCard(ram) {
      ram.reveal = false;
    },
    onClickCard(ram) {
      this.selectedRam = new Ram(
        ram.id,
        ram.name,
        ram.model,
        ram.mfr,
        ram.capacity,
        ram.modules,
        ram.ecc,
        ram.memory_type,
        ram.memory_freq,
        ram.cas_latency,
        ram.voltage,
        ram.price,
        ram.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showRamCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedRam);
      }
    },

    searchRamList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, {
          params: {
            ...pagination,
            ...query,
            ...sortOrder,
            ...this.processedStrict,
          },
        })
        .then((res) => {
          this.ramList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((ram) => {
            ram.reveal = false;
            this.ramList.push(ram);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.ramManufacturerList = [];
      this.ramTypeList = [];
      this.ramFrequencyList = [];
      this.ramCapacityList = [];

      return this.$http
        .get(this.url.ram, { params: { size: 9999 }, ...this.processedStrict })
        .then((res) => {
          res.data.items.forEach((ram) => {
            if (ram.mfr && this.ramManufacturerList.indexOf(ram.mfr) === -1) {
              this.ramManufacturerList.push(ram.mfr);
            }
            if (
              ram.memory_type &&
              this.ramTypeList.indexOf(ram.memory_type) === -1
            ) {
              this.ramTypeList.push(ram.memory_type);
            }
            if (
              ram.memory_freq &&
              this.ramFrequencyList.indexOf(ram.memory_freq) === -1
            ) {
              this.ramFrequencyList.push(ram.memory_freq);
            }
            if (
              ram.capacity &&
              this.ramCapacityList.indexOf(ram.capacity) === -1
            ) {
              this.ramCapacityList.push(ram.capacity);
            }
          });
          this.ramManufacturerList.sort();
          this.ramTypeList.sort();
          this.ramFrequencyList.sort((a, b) => a - b);
          this.ramCapacityList.sort((a, b) => a - b);
        })
        .catch((err) => {});
    },
    buildRamList() {
      this.searchRamList(
        this.url.ram,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildRamList();
    },
  },
};
</script>

<style lang="scss" scoped>
.ram-list {
  display: flex;
  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>