<template>
  <v-dialog
    v-model="visible"
    width="1000px"
    @click:outside="onClickCancelDetailButton"
    class="gpu-cu-dialog"
  >
    <v-card>
      <v-card-title v-if="mode === 'C'">
        <v-icon>mdi-database-plus-outline</v-icon>&nbsp;
        {{ $t("gpu.add_gpu") }}
      </v-card-title>
      <v-card-title v-else-if="mode === 'U' && isEditable">
        <v-icon>mdi-database-edit-outline</v-icon>&nbsp;
        {{ $t("gpu.edit_gpu") }}
      </v-card-title>
      <v-card-title v-else>
        <v-icon>mdi-database-outline</v-icon>&nbsp;
        {{ $t("gpu.gpu_detail") }}
      </v-card-title>
      <v-form v-model="valid" ref="form">
        <v-container class="pl-8 pr-8">
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="gpu.name"
                placeholder=" "
                :label="$t('gpu.name')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="gpu.engineName"
                placeholder=" "
                :label="$t('gpu.engine_name')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="gpu.mfr"
                placeholder=" "
                :items="gpuMfrList"
                :label="$t('gpu.mfr')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="gpu.engineMfr"
                placeholder=" "
                :items="gpuEngineMfrList"
                :label="$t('gpu.engine_mfr')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="gpu.coreSpeed"
                placeholder=" "
                type="number"
                suffix="MHz"
                :rules="[numberRule]"
                :label="$t('gpu.core_speed')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="gpu.boostSpeed"
                placeholder=" "
                type="number"
                suffix="MHz"
                :rules="[numberRule]"
                :label="$t('gpu.boost_speed')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-select
                dense
                v-model="gpu.memoryType"
                placeholder=" "
                :items="gpuMemoryTypeList"
                :label="$t('gpu.memory_type')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              ></v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="gpu.memorySize"
                placeholder=" "
                type="number"
                suffix="GB"
                :rules="[numberRule, requiredRule]"
                :label="$t('gpu.memory_size')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="gpu.memoryInterface"
                placeholder=" "
                type="number"
                :label="$t('gpu.memory_interface')"
                :rules="[numberRule]"
                suffix="bit"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="gpu.memoryBw"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('gpu.memory_bw')"
                suffix="GB/s"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="gpu.dpPortNum"
                placeholder=" "
                type="number"
                :label="$t('gpu.dp_port_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="gpu.hdmiPortNum"
                placeholder=" "
                type="number"
                :label="$t('gpu.hdmi_port_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="gpu.dviPortNum"
                placeholder=" "
                type="number"
                :label="$t('gpu.dvi_port_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="gpu.vgaPortNum"
                placeholder=" "
                type="number"
                :label="$t('gpu.vga_port_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="gpu.cudaCore"
                placeholder=" "
                type="number"
                :label="$t('gpu.cuda_core')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="gpu.tdp"
                placeholder=" "
                type="number"
                :label="$t('gpu.tdp')"
                :rules="[numberRule]"
                suffix="W"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="gpu.psuWattage"
                placeholder=" "
                type="number"
                :label="$t('gpu.psu_wattage')"
                :rules="[numberRule]"
                suffix="W"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row> </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="gpu.price"
                placeholder=" "
                type="number"
                :label="$t('gpu.price')"
                prefix="₫"
                :rules="[intRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card class="pa-4">
                <v-img contain height="230" :src="urlImg">
                  <v-file-input
                    dense
                    hide-input
                    prepend-icon="mdi-camera"
                    accept="image/*"
                    :label="$t('common.image')"
                    @change="onImageChange"
                    @click:clear="onImageClear"
                    :disabled="!isEditable"
                  >
                  </v-file-input>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card-actions>
        <v-btn
          v-if="mode === 'U' && !isEditable && $store.getters.isAdmin"
          color="error"
          @click="onClickDeleteButton"
          text
        >
          {{ $t("common.delete") }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isEditable && !loadingButton"
          text
          @click="onClickCancelButton"
        >
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn v-if="!isEditable" text @click="onClickCancelDetailButton">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="!isEditable && $store.getters.isAdmin"
          text
          @click="onClickModifyButton"
        >
          {{ $t("common.modify") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="isEditable && $store.getters.isAdmin"
          text
          :loading="loadingButton"
          @click="onClickSaveButton"
          >{{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
      <v-dialog v-model="discardConfirmDialog" max-width="250">
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.discard_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDiscardButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn color="error" text @click="onClickConfirmDiscardButton">
              {{ $t("common.discard") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-if="mode === 'U'"
        v-model="deleteConfirmDialog"
        max-width="250"
      >
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.delete_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDeleteButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn
              color="error"
              text
              @click="onClickConfirmDeleteButton(gpu.id)"
            >
              {{ $t("common.delete") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-dialog>
</template>

<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "GpuCu",
  mixins: [UrlPathMixins, ValidationMixins, UtilsMixins],
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: "C",
    },
    originalGpu: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      isEditable: false,
      gpu: {},
      urlImg: "",
      originalUrlImg: "",
      valid: false,
      loadingButton: false,
      deleteConfirmDialog: false,
      discardConfirmDialog: false,
    };
  },
  created() {
    if (this.mode === "C") {
      this.isEditable = true;
    }
    this.gpu = { ...this.originalGpu };
    this.originalUrlImg = this.gpu.img
      ? `${this.url.gpuImg}/${this.gpu.img}`
      : "";
    this.urlImg = this.originalUrlImg;
  },
  methods: {
    onClickModifyButton() {
      this.isEditable = true;
    },
    onClickCancelDeleteButton() {
      this.deleteConfirmDialog = false;
    },
    onClickConfirmDeleteButton(id) {
      this.$http
        .delete(`${this.url.gpu}/${id}`)
        .then(() => {
          this.$http.delete(this.url.gpuUploadImg, {
            data: [this.gpu.img],
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.deleteConfirmDialog = false;
          this.$emit("close");
          this.$emit("search");
        });
    },
    onClickDeleteButton() {
      this.deleteConfirmDialog = true;
    },
    onClickCancelDiscardButton() {
      this.discardConfirmDialog = false;
    },
    onClickConfirmDiscardButton() {
      if (this.mode === "U") {
        this.$refs.form.resetValidation();
        this.isEditable = false;
        this.discardConfirmDialog = false;
        this.gpu = { ...this.originalGpu };
        this.urlImg = this.originalUrlImg;
      } else {
        this.$emit("close");
      }
    },
    onClickCancelButton() {
      if (!this.compareObjects(this.originalGpu, this.gpu)) {
        this.discardConfirmDialog = true;
      } else {
        this.onClickConfirmDiscardButton();
      }
    },
    onClickCancelDetailButton() {
      this.$emit("close");
    },
    async onClickSaveButton() {
      if (this.$refs.form.validate()) {
        this.loadingButton = true;
        let body = {
          name: this.gpu.name || 0,
          mfr: this.gpu.mfr || 0,
          engine_mfr: this.gpu.engineMfr || 0,
          engine_name: this.gpu.engineName || 0,
          core_speed: this.gpu.coreSpeed || 0,
          boost_speed: this.gpu.boostSpeed || 0,
          memory_size: this.gpu.memorySize || 0,
          memory_type: this.gpu.memoryType || 0,
          memory_bw: this.gpu.memoryBw || 0,
          memory_interface: this.gpu.memoryInterface || 0,
          cuda_core: this.gpu.cudaCore || 0,
          dp_port_num: this.gpu.dpPortNum || 0,
          hdmi_port_num: this.gpu.hdmiPortNum || 0,
          dvi_port_num: this.gpu.dviPortNum || 0,
          vga_port_num: this.gpu.vgaPortNum || 0,
          tdp: this.gpu.tdp || 0,
          psu_wattage: this.gpu.psuWattage || 0,
          price: this.gpu.price || 0,
        };
        if (this.gpu.imgFile) {
          let formData = new FormData();
          formData.append("img", this.gpu.imgFile);
          await this.$http.post(this.url.gpuUploadImg, formData).then((res) => {
            body.img = res.data.filename;
          });
        }
        if (this.mode === "C") {
          this.$http
            .post(this.url.gpu, body)
            .catch((err) => {
              this.$http.delete(this.url.gpuUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        } else if (this.mode === "U") {
          this.$http
            .put(`${this.url.gpu}/${this.gpu.id}`, body)
            .then((res) => {
              if (this.gpu.imgFile) {
                this.$http.delete(this.url.gpuUploadImg, {
                  data: [this.gpu.img],
                });
              }
            })
            .catch((err) => {
              this.$http.delete(this.url.gpuUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        }
      }
    },
    onImageChange(img) {
      if (img) {
        this.gpu.imgFile = img;
        this.setUrlImg(img);
      }
    },
    setUrlImg(img) {
      this.urlImg = URL.createObjectURL(img);
    },
    onImageClear() {
      this.gpu.imgFile = "";
      this.urlImg = "";
    },
  },
};
</script>
<style lang="scss" scoped>
</style>