<template>
  <v-container fluid class="gpu-list">
    <v-container fluid>
      <v-row class="gpu-list__row">
        <v-col
          class="gpu-list__col"
          v-for="(gpu, index) in gpuList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="gpu-list__card"
            @click="onClickCard(gpu)"
            @mouseover="onMouseOverCard(gpu)"
            @mouseleave="onMouseLeaveCard(gpu)"
          >
            <v-img height="150" contain :src="getGpuImg(gpu.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ gpu.mfr }} {{ gpu.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="gpu-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(gpu.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("gpu.engine") }}: {{ gpu.engine_mfr }}
                {{ gpu.engine_name }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("gpu.memory") }}: {{ gpu.memory_size }} GB
                {{ gpu.memory_type }}
              </div>
              <div v-if="gpu.boost_speed" class="subtitle-2 ellipsis">
                • {{ $t("gpu.boost_speed") }}: {{ gpu.boost_speed }} MHz
              </div>
              <div v-if="gpu.cuda_core" class="subtitle-2 ellipsis">
                • {{ $t("gpu.cuda_core") }}: {{ gpu.cuda_core }}
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="gpu.reveal"
                class="transition-fast-in-fast-out gpu-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("gpu.name") }}: {{ gpu.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("gpu.mfr") }}: {{ gpu.mfr }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("gpu.engine") }}: {{ gpu.engine_mfr }}
                    {{ gpu.engine_name }}
                  </div>
                  <div v-if="gpu.core_speed" class="subtitle-2">
                    • {{ $t("gpu.core_speed") }}: {{ gpu.core_speed }} MHz
                  </div>
                  <div v-if="gpu.boost_speed" class="subtitle-2">
                    • {{ $t("gpu.boost_speed") }}: {{ gpu.boost_speed }} MHz
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("gpu.memory") }}: {{ gpu.memory_size }} GB
                    {{ gpu.memory_type }}
                  </div>
                  <div v-if="gpu.memory_bw" class="subtitle-2">
                    • {{ $t("gpu.memory_bw") }}: {{ gpu.memory_bw }} GB/s
                  </div>
                  <div v-if="gpu.memory_interface" class="subtitle-2">
                    • {{ $t("gpu.memory_interface") }}:
                    {{ gpu.memory_interface }}-bit
                  </div>
                  <div v-if="gpu.cuda_core" class="subtitle-2">
                    • {{ $t("gpu.cuda_core") }}: {{ gpu.cuda_core }}
                  </div>
                  <div v-if="gpu.dp_port_num" class="subtitle-2">
                    • {{ $t("gpu.dp_port_num") }}: {{ gpu.dp_port_num }}
                  </div>
                  <div v-if="gpu.hdmi_port_num" class="subtitle-2">
                    • {{ $t("gpu.hdmi_port_num") }}: {{ gpu.hdmi_port_num }}
                  </div>
                  <div v-if="gpu.dvi_port_num" class="subtitle-2">
                    • {{ $t("gpu.dvi_port_num") }}: {{ gpu.dvi_port_num }}
                  </div>
                  <div v-if="gpu.vga_port_num" class="subtitle-2">
                    • {{ $t("gpu.vga_port_num") }}: {{ gpu.vga_port_num }}
                  </div>
                  <div v-if="gpu.tdp" class="subtitle-2">
                    • {{ $t("gpu.tdp") }}: {{ gpu.tdp }} W
                  </div>
                  <div v-if="gpu.psu_wattage" class="subtitle-2">
                    • {{ $t("gpu.psu_wattage") }}: {{ gpu.psu_wattage }} W
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="gpu-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <gpu-cu
      v-if="showGpuCuForm"
      :visible="showGpuCuForm"
      :mode="mode"
      :originalGpu="selectedGpu"
      @close="showGpuCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('gpu.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="gpuManufacturerList"
              :label="$t('gpu.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedEngineManufacturerList"
              :items="gpuEngineManufacturerList"
              :label="$t('gpu.engine_mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedEngineNameList"
              :items="gpuEngineNameList"
              :label="$t('gpu.engine_name')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedMemorySizeList"
              :items="gpuMemorySizeList"
              :label="$t('gpu.memory_size')"
              suffix="GB"
              multiple
              chips
            ></v-select>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParam">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParam">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import GpuCu from "./GpuCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Gpu {
  constructor(
    id,
    name,
    mfr,
    engineMfr,
    engineName,
    coreSpeed,
    boostSpeed,
    memorySize,
    memoryType,
    memoryBw,
    memoryInterface,
    cudaCore,
    dpPortNum,
    hdmiPortNum,
    dviPortNum,
    vgaPortNum,
    tdp,
    psuWattage,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.mfr = mfr;
    this.engineMfr = engineMfr;
    this.engineName = engineName;
    this.coreSpeed = coreSpeed;
    this.boostSpeed = boostSpeed;
    this.memorySize = memorySize;
    this.memoryType = memoryType;
    this.memoryBw = memoryBw;
    this.memoryInterface = memoryInterface;
    this.cudaCore = cudaCore;
    this.dpPortNum = dpPortNum;
    this.hdmiPortNum = hdmiPortNum;
    this.dviPortNum = dviPortNum;
    this.vgaPortNum = vgaPortNum;
    this.tdp = tdp;
    this.psuWattage = psuWattage;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "GpuList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { GpuCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParam: "name",
      orderParam: "ASC",

      gpuList: [],
      gpuManufacturerList: [],
      gpuEngineManufacturerList: [],
      gpuEngineNameList: [],
      gpuMemorySizeList: [],

      sortByRadios: [
        { label: "gpu.name", value: "name" },
        { label: "gpu.price", value: "price" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedEngineManufacturerList: [],
      selectedEngineNameList: [],
      selectedMemorySizeList: [],

      showGpuCuForm: false,
      selectedGpu: new Gpu(
        0,
        "",
        "",
        "",
        "",
        0,
        0,
        0,
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        ""
      ),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildGpuList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getGpuImg(img) {
      if (img) {
        return `${this.url.gpuImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.gpuUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.gpuImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildGpuList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let gpuExportedList = [];
      await this.$http
        .get(this.url.gpu, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((gpu) => {
            delete gpu.id;
            gpuExportedList.push(gpu);
          });
        });
      this.exportFile(
        this.url.gpuExport,
        gpuExportedList,
        "gpus",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showGpuCuForm = true;
      this.selectedGpu = new Gpu(
        0,
        "",
        "",
        "",
        "",
        0,
        0,
        0,
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        ""
      );
    },
    onClickResetSortButton() {
      this.sortParam = "name";
      this.orderParam = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        engine_mfr: this.selectedEngineManufacturerList,
        engine_name: this.selectedEngineNameList,
        memory_size: this.selectedMemorySizeList,
      };
      this.sortOrder = {
        sort: this.sortParam,
        order: this.orderParam,
      };
      this.currentPage = 1;
      this.buildGpuList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedEngineManufacturerList = [];
      this.selectedEngineNameList = [];
      this.selectedMemorySizeList = [];
    },
    onMouseOverCard(gpu) {
      gpu.reveal = true;
    },
    onMouseLeaveCard(gpu) {
      gpu.reveal = false;
    },
    onClickCard(gpu) {
      this.selectedGpu = new Gpu(
        gpu.id,
        gpu.name,
        gpu.mfr,
        gpu.engine_mfr,
        gpu.engine_name,
        gpu.core_speed,
        gpu.boost_speed,
        gpu.memory_size,
        gpu.memory_type,
        gpu.memory_bw,
        gpu.memory_interface,
        gpu.cuda_core,
        gpu.dp_port_num,
        gpu.hdmi_port_num,
        gpu.dvi_port_num,
        gpu.vga_port_num,
        gpu.tdp,
        gpu.psu_wattage,
        gpu.price,
        gpu.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showGpuCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedGpu);
      }
    },
    searchGpuList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, { params: { ...pagination, ...query, ...sortOrder } })
        .then((res) => {
          this.gpuList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((gpu) => {
            gpu.reveal = false;
            this.gpuList.push(gpu);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.gpuManufacturerList = [];
      this.gpuEngineManufacturerList = [];
      this.gpuEngineNameList = [];
      this.gpuMemorySizeList = [];

      return this.$http
        .get(this.url.gpu, { params: { size: 9999 } })
        .then((res) => {
          res.data.items.forEach((gpu) => {
            if (gpu.mfr && this.gpuManufacturerList.indexOf(gpu.mfr) === -1) {
              this.gpuManufacturerList.push(gpu.mfr);
            }
            if (
              gpu.engine_mfr &&
              this.gpuEngineManufacturerList.indexOf(gpu.engine_mfr) === -1
            ) {
              this.gpuEngineManufacturerList.push(gpu.engine_mfr);
            }
            if (
              gpu.engine_name &&
              this.gpuEngineNameList.indexOf(gpu.engine_name) === -1
            ) {
              this.gpuEngineNameList.push(gpu.engine_name);
            }
            if (
              gpu.memory_size &&
              this.gpuMemorySizeList.indexOf(gpu.memory_size) === -1
            ) {
              this.gpuMemorySizeList.push(gpu.memory_size);
            }
          });
          this.gpuManufacturerList.sort();
          this.gpuEngineManufacturerList.sort();
          this.gpuEngineNameList.sort();
          this.gpuMemorySizeList.sort((a, b) => a - b);
        })
        .catch((err) => {});
    },
    buildGpuList() {
      this.searchGpuList(
        this.url.gpu,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildGpuList();
    },
  },
};
</script>

<style lang="scss" scoped>
.gpu-list {
  display: flex;
  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>