<template>
  <v-dialog
    v-model="visible"
    width="1000px"
    @click:outside="onClickCancelDetailButton"
    class="hdd-cu-dialog"
  >
    <v-card>
      <v-card-title v-if="mode === 'C'">
        <v-icon>mdi-database-plus-outline</v-icon>&nbsp;
        {{ $t("hdd.add_hdd") }}
      </v-card-title>
      <v-card-title v-else-if="mode === 'U' && isEditable">
        <v-icon>mdi-database-edit-outline</v-icon>&nbsp;
        {{ $t("hdd.edit_hdd") }}
      </v-card-title>
      <v-card-title v-else>
        <v-icon>mdi-database-outline</v-icon>&nbsp;
        {{ $t("hdd.hdd_detail") }}
      </v-card-title>
      <v-form v-model="valid" ref="form">
        <v-container class="pl-8 pr-8">
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="hdd.name"
                placeholder=" "
                :label="$t('hdd.name')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="hdd.model"
                placeholder=" "
                :label="$t('hdd.model')"
                :rules="[textRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="hdd.mfr"
                placeholder=" "
                :items="hddMfrList"
                :label="$t('hdd.mfr')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="hdd.capacity"
                placeholder=" "
                type="number"
                :label="$t('hdd.capacity')"
                :rules="[numberRule, requiredRule]"
                suffix="GB"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-select
                dense
                v-model="hdd.interface"
                placeholder=" "
                :items="hddInterfaceList"
                :label="$t('hdd.interface')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              >
              </v-select>
            </v-col>
            <v-col cols="6">
              <v-select
                dense
                v-model="hdd.formFactor"
                placeholder=" "
                :items="hddFormFactorList"
                :label="$t('hdd.form_factor')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              >
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="hdd.cache"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('hdd.cache')"
                suffix="MB"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="hdd.rpm"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('hdd.rpm')"
                suffix="rpm"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="hdd.price"
                placeholder=" "
                type="number"
                :label="$t('hdd.price')"
                prefix="₫"
                :rules="[intRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card class="pa-4">
                <v-img contain height="230" :src="urlImg">
                  <v-file-input
                    dense
                    hide-input
                    prepend-icon="mdi-camera"
                    accept="image/*"
                    :label="$t('common.image')"
                    @change="onImageChange"
                    @click:clear="onImageClear"
                    :disabled="!isEditable"
                  >
                  </v-file-input>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card-actions>
        <v-btn
          v-if="mode === 'U' && !isEditable && $store.getters.isAdmin"
          color="error"
          @click="onClickDeleteButton"
          text
        >
          {{ $t("common.delete") }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isEditable && !loadingButton"
          text
          @click="onClickCancelButton"
        >
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn v-if="!isEditable" text @click="onClickCancelDetailButton">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="!isEditable && $store.getters.isAdmin"
          text
          @click="onClickModifyButton"
        >
          {{ $t("common.modify") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="isEditable && $store.getters.isAdmin"
          text
          :loading="loadingButton"
          @click="onClickSaveButton"
          >{{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
      <v-dialog v-model="discardConfirmDialog" max-width="250">
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.discard_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDiscardButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn color="error" text @click="onClickConfirmDiscardButton">
              {{ $t("common.discard") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-if="mode === 'U'"
        v-model="deleteConfirmDialog"
        max-width="250"
      >
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.delete_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDeleteButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn
              color="error"
              text
              @click="onClickConfirmDeleteButton(hdd.id)"
            >
              {{ $t("common.delete") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-dialog>
</template>

<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "HddCu",
  mixins: [UrlPathMixins, ValidationMixins, UtilsMixins],
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: "C",
    },
    originalHdd: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      isEditable: false,
      hdd: {},
      urlImg: "",
      originalUrlImg: "",
      valid: false,
      loadingButton: false,
      deleteConfirmDialog: false,
      discardConfirmDialog: false,
    };
  },
  created() {
    if (this.mode === "C") {
      this.isEditable = true;
    }
    this.hdd = { ...this.originalHdd };
    this.originalUrlImg = this.hdd.img
      ? `${this.url.hddImg}/${this.hdd.img}`
      : "";
    this.urlImg = this.originalUrlImg;
  },
  methods: {
    onClickModifyButton() {
      this.isEditable = true;
    },
    onClickCancelDeleteButton() {
      this.deleteConfirmDialog = false;
    },
    onClickConfirmDeleteButton(id) {
      this.$http
        .delete(`${this.url.hdd}/${id}`)
        .then(() => {
          this.$http.delete(this.url.hddUploadImg, {
            data: [this.hdd.img],
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.deleteConfirmDialog = false;
          this.$emit("close");
          this.$emit("search");
        });
    },
    onClickDeleteButton() {
      this.deleteConfirmDialog = true;
    },
    onClickCancelDiscardButton() {
      this.discardConfirmDialog = false;
    },
    onClickConfirmDiscardButton() {
      if (this.mode === "U") {
        this.$refs.form.resetValidation();
        this.isEditable = false;
        this.discardConfirmDialog = false;
        this.hdd = { ...this.originalHdd };
        this.urlImg = this.originalUrlImg;
      } else {
        this.$emit("close");
      }
    },
    onClickCancelButton() {
      if (!this.compareObjects(this.originalHdd, this.hdd)) {
        this.discardConfirmDialog = true;
      } else {
        this.onClickConfirmDiscardButton();
      }
    },
    onClickCancelDetailButton() {
      this.$emit("close");
    },
    async onClickSaveButton() {
      if (this.$refs.form.validate()) {
        this.loadingButton = true;
        let body = {
          name: this.hdd.name || "",
          model: this.hdd.model || "",
          mfr: this.hdd.mfr || "",
          capacity: this.hdd.capacity || 0,
          interface: this.hdd.interface || "",
          form_factor: this.hdd.formFactor || "",
          cache: this.hdd.cache || 0,
          rpm: this.hdd.rpm || 0,
          price: this.hdd.price || 0,
        };
        if (this.hdd.imgFile) {
          let formData = new FormData();
          formData.append("img", this.hdd.imgFile);
          await this.$http.post(this.url.hddUploadImg, formData).then((res) => {
            body.img = res.data.filename;
          });
        }
        if (this.mode === "C") {
          this.$http
            .post(this.url.hdd, body)
            .catch((err) => {
              this.$http.delete(this.url.hddUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        } else if (this.mode === "U") {
          this.$http
            .put(`${this.url.hdd}/${this.hdd.id}`, body)
            .then((res) => {
              if (this.hdd.imgFile) {
                this.$http.delete(this.url.hddUploadImg, {
                  data: [this.hdd.img],
                });
              }
              this.$emit("close");
              this.$emit("search");
            })
            .catch((err) => {
              this.$http.delete(this.url.hddUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        }
      }
    },
    onImageChange(img) {
      if (img) {
        this.hdd.imgFile = img;
        this.setUrlImg(img);
      }
    },
    setUrlImg(img) {
      this.urlImg = URL.createObjectURL(img);
    },
    onImageClear() {
      this.hdd.imgFile = "";
      this.urlImg = "";
    },
  },
};
</script>
<style lang="scss" scoped>
</style>