<template>
  <v-container fluid class="hdd-list">
    <v-container fluid>
      <v-row class="hdd-list__row">
        <v-col
          class="hdd-list__col"
          v-for="(hdd, index) in hddList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="hdd-list__card"
            @click="onClickCard(hdd)"
            @mouseover="onMouseOverCard(hdd)"
            @mouseleave="onMouseLeaveCard(hdd)"
          >
            <v-img height="150" contain :src="getHddImg(hdd.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ hdd.mfr }} {{ hdd.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="hdd-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(hdd.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("hdd.capacity") }}: {{ hdd.capacity }} GB
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("hdd.interface") }}: {{ hdd.interface }} ({{
                  hdd.form_factor
                }})
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("hdd.rpm") }}: {{ hdd.rpm }} rpm
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("hdd.cache") }}: {{ hdd.cache }} MB
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="hdd.reveal"
                class="transition-fast-in-fast-out hdd-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("hdd.name") }}: {{ hdd.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("hdd.model") }}: {{ hdd.model }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("hdd.mfr") }}: {{ hdd.mfr }}
                  </div>
                  <div class="subtitle-2 ellipsis">
                    • {{ $t("hdd.capacity") }}: {{ hdd.capacity }} GB
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("hdd.interface") }}: {{ hdd.interface }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("hdd.form_factor") }}: {{ hdd.form_factor }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("hdd.cache") }}: {{ hdd.cache }} MB
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("hdd.rpm") }}: {{ hdd.rpm }} rpm
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="hdd-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <hdd-cu
      v-if="showHddCuForm"
      :visible="showHddCuForm"
      :mode="mode"
      :originalHdd="selectedHdd"
      @close="showHddCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('hdd.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="hddManufacturerList"
              :label="$t('hdd.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedInterface"
              :items="hddInterfaceList"
              :label="$t('hdd.interface')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedFormFactor"
              :items="hddFormFactorList"
              :label="$t('hdd.form_factor')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedCapacity"
              :items="hddCapacityList"
              :label="$t('hdd.capacity')"
              suffix="GB"
              multiple
              chips
            ></v-select>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParams">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParams">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import HddCu from "./HddCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Hdd {
  constructor(
    id,
    name,
    model,
    mfr,
    capacity,
    inf,
    formFactor,
    cache,
    rpm,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.model = model;
    this.mfr = mfr;
    this.capacity = capacity;
    this.interface = inf;
    this.formFactor = formFactor;
    this.cache = cache;
    this.rpm = rpm;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "HddList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { HddCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParams: "name",
      orderParams: "ASC",

      hddList: [],
      hddManufacturerList: [],
      hddInterfaceList: [],
      hddFormFactorList: [],
      hddCapacityList: [],

      sortByRadios: [
        { label: "hdd.name", value: "name" },
        { label: "hdd.price", value: "price" },
        { label: "hdd.capacity", value: "capacity" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedInterface: [],
      selectedFormFactor: [],
      selectedCapacity: [],

      showHddCuForm: false,
      selectedHdd: new Hdd(0, "", "", "", 0, "", "", 0, 0, 0, ""),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildHddList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getHddImg(img) {
      if (img) {
        return `${this.url.hddImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.hddUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.hddImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildHddList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let hddExportedList = [];
      await this.$http
        .get(this.url.hdd, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((hdd) => {
            delete hdd.id;
            hddExportedList.push(hdd);
          });
        });
      this.exportFile(
        this.url.hddExport,
        hddExportedList,
        "hdds",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showHddCuForm = true;
      this.selectedHdd = new Hdd(0, "", "", "", 0, "", "", 0, 0, 0, "");
    },
    onClickResetSortButton() {
      this.sortParams = "name";
      this.orderParams = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        interface: this.selectedInterface,
        form_factor: this.selectedFormFactor,
        capacity: this.selectedCapacity,
      };
      this.sortOrder = {
        sort: this.sortParams,
        order: this.orderParams,
      };
      this.currentPage = 1;
      this.buildHddList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedInterface = [];
      this.selectedFormFactor = [];
      this.selectedCapacity = [];
    },
    onMouseOverCard(hdd) {
      hdd.reveal = true;
    },
    onMouseLeaveCard(hdd) {
      hdd.reveal = false;
    },
    onClickCard(hdd) {
      this.selectedHdd = new Hdd(
        hdd.id,
        hdd.name,
        hdd.model,
        hdd.mfr,
        hdd.capacity,
        hdd.interface,
        hdd.form_factor,
        hdd.cache,
        hdd.rpm,
        hdd.price,
        hdd.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showHddCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedHdd);
      }
    },

    searchHddList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, { params: { ...pagination, ...query, ...sortOrder } })
        .then((res) => {
          this.hddList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((hdd) => {
            hdd.reveal = false;
            this.hddList.push(hdd);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.hddManufacturerList = [];
      this.hddInterfaceList = [];
      this.hddFormFactorList = [];
      this.hddCapacityList = [];

      return this.$http
        .get(this.url.hdd, { params: { size: 9999 } })
        .then((res) => {
          res.data.items.forEach((hdd) => {
            if (hdd.mfr && this.hddManufacturerList.indexOf(hdd.mfr) === -1) {
              this.hddManufacturerList.push(hdd.mfr);
            }
            if (
              hdd.interface &&
              this.hddInterfaceList.indexOf(hdd.interface) === -1
            ) {
              this.hddInterfaceList.push(hdd.interface);
            }
            if (
              hdd.form_factor &&
              this.hddFormFactorList.indexOf(hdd.form_factor) === -1
            ) {
              this.hddFormFactorList.push(hdd.form_factor);
            }
            if (
              hdd.capacity &&
              this.hddCapacityList.indexOf(hdd.capacity) === -1
            ) {
              this.hddCapacityList.push(hdd.capacity);
            }
          });
          this.hddManufacturerList.sort();
          this.hddInterfaceList.sort();
          this.hddFormFactorList.sort();
          this.hddCapacityList.sort((a, b) => a - b);
        })
        .catch((err) => {});
    },
    buildHddList() {
      this.searchHddList(
        this.url.hdd,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildHddList();
    },
  },
};
</script>

<style lang="scss" lang="scss" scoped>
.hdd-list {
  display: flex;
  &__row {
    min-height: 874px;
  }

  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>