<template>
  <v-container class="pc-builder">
    <v-row>
      <v-col
        class="pc-builder__col"
        v-for="(item, index) in pcBuilderItems"
        :key="index"
        md="3"
        sm="4"
      >
        <v-card class="pc-builder__card">
          <v-img
            height="150"
            contain
            :src="
              compareObjects(item.part, emptyPart)
                ? item.img
                : `${url.image}/${item.name}/${item.part.img}`
            "
          ></v-img>
          <v-card-title
            class="pc-builder__card__title ellipsis"
            :class="{
              'text-center': compareObjects(item.part, emptyPart),
            }"
          >
            {{
              compareObjects(item.part, emptyPart)
                ? $t(item.title)
                : `${item.part.mfr} ${item.part.name}`
            }}
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div class="subtitle-2 red--text ellipsis">
              ₫ • {{ formatNumber(item.part.price) }}
            </div>
            <v-row>
              <v-col cols="4">
                <v-text-field
                  ref="quantity"
                  dense
                  v-model="item.quantity"
                  type="number"
                  min="0"
                  max="4"
                  :label="$t('common.quantity')"
                  :disabled="!isAuthUser"
                >
                </v-text-field>
              </v-col>
              <v-col cols="8">
                <v-text-field
                  dense
                  :value="item.part.price ? item.quantity * item.part.price : 0"
                  type="number"
                  readonly
                  :label="$t('common.total')"
                  :disabled="!isAuthUser"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="pc-builder__card-actions">
            <v-divider></v-divider>
            <v-btn
              @click="onClickDeletePartButton(item.name)"
              class="pc-builder__card-actions__button"
              color="error"
              text
              :disabled="!isAuthUser"
            >
              {{ $t("common.delete") }}
            </v-btn>
            <v-dialog v-model="item.dialog" :retain-focus="false" fullscreen>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="pc-builder__card-actions__button"
                  color="primary"
                  text
                  v-bind="attrs"
                  v-on="on"
                  :disabled="!isAuthUser"
                >
                  {{ $t("common.select") }}
                </v-btn>
              </template>
              <v-toolbar height="56px" dark class="pc-builder__navbar">
                <v-btn icon @click="onClickBackButton(item.name)">
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-toolbar-title>
                  {{ $t(item.title) }}
                </v-toolbar-title>
              </v-toolbar>
              <v-main class="pc-builder__selection-dialog grey lighten-4">
                <component
                  v-if="item.dialog"
                  :is="item.tag"
                  :build="true"
                  :strict="item.strict"
                  @fetchPart="fetchPart($event, item.name)"
                >
                </component>
              </v-main>
            </v-dialog>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="saveDialog" max-width="250">
      <v-card>
        <v-card-title>{{ $t("pc_builder.pc_build_name") }}</v-card-title>
        <v-card-text>
          <v-form
            v-model="valid"
            ref="form"
            @submit.prevent="onClickConfirmSaveButton"
          >
            <v-text-field
              :label="$t('pc_builder.name')"
              v-model="pcBuildName"
              :rules="[requiredRule]"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="onClickCancelSaveButton">
            {{ $t("common.cancel") }}
          </v-btn>
          <v-btn color="error" text @click="onClickConfirmSaveButton">
            {{ $t("common.save") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-speed-dial
      v-if="isAuthUser"
      v-model="fab"
      class="pc-builder__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn @click="saveDialog = true" fab dark color="grey">
        <v-icon>mdi-content-save-outline</v-icon>
      </v-btn>
      <v-btn @click="onClickRefreshButton" fab dark color="grey">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-container>
</template>
<script>
import CpuList from "../cpus/CpuList";
import MoboList from "../mobos/MoboList";
import RamList from "../rams/RamList";
import GpuList from "../gpus/GpuList";
import HddList from "../hdds/HddList";
import SsdList from "../ssds/SsdList";
import PsuList from "../psus/PsuList";
import ChasList from "../chas/ChasList";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

const CPU_INDEX = 0;
const MOBO_INDEX = 1;
const RAM_INDEX = 2;
const GPU_INDEX = 3;
const HDD_INDEX = 4;
const SSD_INDEX = 5;
const PSU_INDEX = 6;
const CHAS_INDEX = 7;

export default {
  name: "PcBuilder",
  mixins: [UrlPathMixins, ValidationMixins, UtilsMixins],
  components: {
    CpuList,
    MoboList,
    RamList,
    GpuList,
    HddList,
    SsdList,
    PsuList,
    ChasList,
  },
  data() {
    return {
      emptyPart: {},
      valid: false,
      pcBuilderItems: [
        {
          name: "cpus",
          title: "label.cpu_label",
          tag: CpuList,
          img: "/static/assets/chip.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
        {
          name: "mobos",
          title: "label.mobo_label",
          tag: MoboList,
          img: "/static/assets/motherboard.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
        {
          name: "rams",
          title: "label.ram_label",
          tag: RamList,
          img: "/static/assets/ram-memory.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
        {
          name: "gpus",
          title: "label.gpu_label",
          tag: GpuList,
          img: "/static/assets/video-card.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
        {
          name: "hdds",
          title: "label.hdd_label",
          tag: HddList,
          img: "/static/assets/hard-drive.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
        {
          name: "ssds",
          title: "label.ssd_label",
          tag: SsdList,
          img: "/static/assets/ssd.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
        {
          name: "psus",
          title: "label.psu_label",
          tag: PsuList,
          img: "/static/assets/power-supply.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
        {
          name: "chas",
          title: "label.chas_label",
          tag: ChasList,
          img: "/static/assets/computer.svg",
          dialog: false,
          quantity: 0,
          part: {},
          strict: {},
        },
      ],

      pcBuildName: "",
      isAuthUser: true,
      saveDialog: false,
    };
  },
  watch: {
    cpuItem: {
      deep: true,
      handler(val) {
        if (val.socket) {
          Object.assign(this.pcBuilderItems[MOBO_INDEX].strict, {
            cpuSocket: val.socket,
          });
        } else {
          delete this.pcBuilderItems[MOBO_INDEX].strict.cpuSocket;
        }

        if (val.memoryType) {
          Object.assign(this.pcBuilderItems[MOBO_INDEX].strict, {
            cpuMemoryType: val.memoryType,
          });
          Object.assign(this.pcBuilderItems[RAM_INDEX].strict, {
            cpuMemoryType: val.memoryType,
          });
        } else {
          delete this.pcBuilderItems[MOBO_INDEX].strict.cpuMemoryType;
          delete this.pcBuilderItems[RAM_INDEX].strict.cpuMemoryType;
        }

        if (val.ecc !== undefined) {
          Object.assign(this.pcBuilderItems[MOBO_INDEX].strict, {
            cpuEcc: val.ecc,
          });
          Object.assign(this.pcBuilderItems[RAM_INDEX].strict, {
            cpuEcc: val.ecc,
          });
        } else {
          delete this.pcBuilderItems[MOBO_INDEX].strict.cpuEcc;
          delete this.pcBuilderItems[RAM_INDEX].strict.cpuEcc;
        }
      },
    },
    moboItem: {
      deep: true,
      handler(val) {
        if (val.socket) {
          Object.assign(this.pcBuilderItems[CPU_INDEX].strict, {
            moboSocket: val.socket,
          });
        } else {
          delete this.pcBuilderItems[CPU_INDEX].strict.moboSocket;
        }

        if (val.memoryType) {
          Object.assign(this.pcBuilderItems[CPU_INDEX].strict, {
            moboMemoryType: val.memoryType,
          });
          Object.assign(this.pcBuilderItems[RAM_INDEX].strict, {
            moboMemoryType: val.memoryType,
          });
        } else {
          delete this.pcBuilderItems[CPU_INDEX].strict.moboMemoryType;
          delete this.pcBuilderItems[RAM_INDEX].strict.moboMemoryType;
        }

        if (val.ecc !== undefined) {
          Object.assign(this.pcBuilderItems[CPU_INDEX].strict, {
            moboEcc: val.ecc,
          });
          Object.assign(this.pcBuilderItems[RAM_INDEX].strict, {
            moboEcc: val.ecc,
          });
        } else {
          delete this.pcBuilderItems[CPU_INDEX].strict.moboEcc;
          delete this.pcBuilderItems[RAM_INDEX].strict.moboEcc;
        }

        if (val.formFactor) {
          Object.assign(this.pcBuilderItems[CHAS_INDEX].strict, {
            moboFormFactor: val.formFactor,
          });
        } else {
          delete this.pcBuilderItems[CHAS_INDEX].strict.moboFormFactor;
        }
      },
    },
    ramItem: {
      deep: true,
      handler(val) {
        if (val.memoryType) {
          Object.assign(this.pcBuilderItems[CPU_INDEX].strict, {
            ramMemoryType: val.memoryType,
          });
          Object.assign(this.pcBuilderItems[MOBO_INDEX].strict, {
            ramMemoryType: val.memoryType,
          });
        } else {
          delete this.pcBuilderItems[CPU_INDEX].strict.ramMemoryType;
          delete this.pcBuilderItems[MOBO_INDEX].strict.ramMemoryType;
        }

        if (val.ecc != undefined) {
          Object.assign(this.pcBuilderItems[CPU_INDEX].strict, {
            ramEcc: val.ecc,
          });
          Object.assign(this.pcBuilderItems[MOBO_INDEX].strict, {
            ramEcc: val.ecc,
          });
        } else {
          delete this.pcBuilderItems[CPU_INDEX].strict.ramEcc;
          delete this.pcBuilderItems[MOBO_INDEX].strict.ramEcc;
        }
      },
    },
    chasItem: {
      deep: true,
      handler(val) {
        if (val.moboFormFactor) {
          Object.assign(this.pcBuilderItems[MOBO_INDEX].strict, {
            moboFormFactor: val.moboFormFactor,
          });
        } else {
          delete this.pcBuilderItems[MOBO_INDEX].strict.moboFormFactor;
        }
      },
    },
  },
  computed: {
    cpuItem() {
      return this.pcBuilderItems[CPU_INDEX].part;
    },
    moboItem() {
      return this.pcBuilderItems[MOBO_INDEX].part;
    },
    ramItem() {
      return this.pcBuilderItems[RAM_INDEX].part;
    },
    gpuItem() {
      return this.pcBuilderItems[GPU_INDEX].part;
    },
    hddItem() {
      return this.pcBuilderItems[HDD_INDEX].part;
    },
    ssdItem() {
      return this.pcBuilderItems[SSD_INDEX].part;
    },
    psuItem() {
      return this.pcBuilderItems[PSU_INDEX].part;
    },
    chasItem() {
      return this.pcBuilderItems[CHAS_INDEX].part;
    },
    totalPrice() {
      let totalPrice = 0;
      this.pcBuilderItems.forEach((item) => {
        if (item.part.price) {
          totalPrice += item.part.price * item.quantity;
        }
      });
      return totalPrice;
    },
  },
  created() {
    this.$emit("showProgress", true);
    this.$http
      .get(`${this.url.pcBuild}/${this.$route.path.split("/")[2]}`)
      .then((res) => {
        if (res.data) {
          this.pcBuildName = res.data.name;
          this.isAuthUser = res.data.username
            ? res.data.username === this.$store.getters.getUsername
            : true;
          this.pcBuilderItems[CPU_INDEX].quantity = res.data.cpu_quantity || 0;
          this.pcBuilderItems[MOBO_INDEX].quantity =
            res.data.mobo_quantity || 0;
          this.pcBuilderItems[RAM_INDEX].quantity = res.data.ram_quantity || 0;
          this.pcBuilderItems[GPU_INDEX].quantity = res.data.gpu_quantity || 0;
          this.pcBuilderItems[HDD_INDEX].quantity = res.data.hdd_quantity || 0;
          this.pcBuilderItems[SSD_INDEX].quantity = res.data.ssd_quantity || 0;
          this.pcBuilderItems[PSU_INDEX].quantity = res.data.psu_quantity || 0;
          this.pcBuilderItems[CHAS_INDEX].quantity =
            res.data.chas_quantity || 0;

          if (res.data.cpu_id) {
            this.$http.get(`${this.url.cpu}/${res.data.cpu_id}`).then((cpu) => {
              if (cpu.data) {
                this.pcBuilderItems[CPU_INDEX].part = cpu.data;
              }
            });
          }

          if (res.data.mobo_id) {
            this.$http
              .get(`${this.url.mobo}/${res.data.mobo_id}`)
              .then((mobo) => {
                if (mobo.data) {
                  this.pcBuilderItems[MOBO_INDEX].part = mobo.data;
                }
              });
          }

          if (res.data.ram_id) {
            this.$http.get(`${this.url.ram}/${res.data.ram_id}`).then((ram) => {
              if (ram.data) {
                this.pcBuilderItems[RAM_INDEX].part = ram.data;
              }
            });
          }

          if (res.data.gpu_id) {
            this.$http.get(`${this.url.gpu}/${res.data.gpu_id}`).then((gpu) => {
              if (gpu.data) {
                this.pcBuilderItems[GPU_INDEX].part = gpu.data;
              }
            });
          }

          if (res.data.hdd_id) {
            this.$http.get(`${this.url.hdd}/${res.data.hdd_id}`).then((hdd) => {
              if (hdd.data) {
                this.pcBuilderItems[HDD_INDEX].part = hdd.data;
              }
            });
          }

          if (res.data.ssd_id) {
            this.$http.get(`${this.url.ssd}/${res.data.ssd_id}`).then((ssd) => {
              if (ssd.data) {
                this.pcBuilderItems[SSD_INDEX].part = ssd.data;
              }
            });
          }

          if (res.data.psu_id) {
            this.$http.get(`${this.url.psu}/${res.data.psu_id}`).then((psu) => {
              if (psu.data) {
                this.pcBuilderItems[PSU_INDEX].part = psu.data;
              }
            });
          }

          if (res.data.chas_id) {
            this.$http
              .get(`${this.url.chas}/${res.data.chas_id}`)
              .then((chas) => {
                if (chas.data) {
                  this.pcBuilderItems[CHAS_INDEX].part = chas.data;
                }
              });
          }
        }
      })
      .catch((err) => {
        let snackbar = {
          err: true,
          msg: err,
        };
        this.$emit("notifyError", snackbar);
      })
      .finally(() => {
        this.$emit("showProgress", false);
      });
  },
  methods: {
    onClickRefreshButton() {
      this.pcBuilderItems.forEach((item) => {
        item.quantity = 0;
        item.part = {};
        item.strict = {};
      });
    },
    onClickBackButton(itemName) {
      let index = this.pcBuilderItems.findIndex((x) => x.name == itemName);
      this.pcBuilderItems[index].dialog = false;
    },
    onClickDeletePartButton(itemName) {
      let index = this.pcBuilderItems.findIndex((x) => x.name == itemName);
      this.pcBuilderItems[index].part = this.emptyPart;
      this.pcBuilderItems[index].quantity = 0;
    },
    onClickCancelSaveButton() {
      this.saveDialog = false;
    },
    onClickConfirmSaveButton() {
      if (this.$refs.form.validate()) {
        let body = {
          uuid: this.$route.path.split("/")[2],
          name: this.pcBuildName,
          username: this.$store.getters.getUsername,
          total_price: this.totalPrice,
          cpu_id: this.pcBuilderItems[CPU_INDEX].part.id || 0,
          cpu_quantity: this.pcBuilderItems[CPU_INDEX].quantity || 0,
          mobo_id: this.pcBuilderItems[MOBO_INDEX].part.id || 0,
          mobo_quantity: this.pcBuilderItems[MOBO_INDEX].quantity || 0,
          ram_id: this.pcBuilderItems[RAM_INDEX].part.id || 0,
          ram_quantity: this.pcBuilderItems[RAM_INDEX].quantity || 0,
          gpu_id: this.pcBuilderItems[GPU_INDEX].part.id || 0,
          gpu_quantity: this.pcBuilderItems[GPU_INDEX].quantity || 0,
          hdd_id: this.pcBuilderItems[HDD_INDEX].part.id || 0,
          hdd_quantity: this.pcBuilderItems[HDD_INDEX].quantity || 0,
          ssd_id: this.pcBuilderItems[SSD_INDEX].part.id || 0,
          ssd_quantity: this.pcBuilderItems[SSD_INDEX].quantity || 0,
          psu_id: this.pcBuilderItems[PSU_INDEX].part.id || 0,
          psu_quantity: this.pcBuilderItems[PSU_INDEX].quantity || 0,
          chas_id: this.pcBuilderItems[CHAS_INDEX].part.id || 0,
          chas_quantity: this.pcBuilderItems[CHAS_INDEX].quantity || 0,
        };
        this.$http
          .post(this.url.pcBuild, body)
          .then((res) => {})
          .catch((err) => {
            let snackbar = {
              err: true,
              msg: err,
            };
            this.$emit("notifyError", snackbar);
          })
          .finally(() => {
            this.saveDialog = false;
            this.$router
              .push({ name: "personal-build-list" })
              .catch(() => {});
          });
      }
    },
    fetchPart(part, itemName) {
      let index = this.pcBuilderItems.findIndex((x) => x.name == itemName);
      this.pcBuilderItems[index].dialog = false;
      this.pcBuilderItems[index].quantity = 1;
      this.pcBuilderItems[index].part = { ...part };
    },
  },
};
</script>
<style lang="scss" scoped>
.pc-builder {
  &__selection-dialog {
    background-image: url("~/static/assets/background.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
  }
  &__navbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    width: 275px;
    height: 400px;
    padding: 25px 0 25px 0;
    &-actions {
      position: absolute;
      width: 100%;
      bottom: 0;
      &__button {
        width: 50%;
        margin: 0 !important;
      }
    }
    &__title {
      display: block;
    }
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>