<template>
  <v-container fluid class="pc-build-list">
    <v-container fluid>
      <v-row class="pc-build-list__row">
        <v-col
          class="pc-build-list__col"
          v-for="(item, index) in pcBuildList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card class="pc-build-list__card" @click="onClickCard(item.uuid)">
            <v-img
              height="150"
              contain
              src="/static/assets/personal-computer.svg"
            ></v-img>
            <v-card-title class="ellipsis">{{ item.name }}</v-card-title>
            <v-divider></v-divider>
            <v-card-text class="pc-build-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(item.totalPrice) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("pc_builder.author") }}: {{ item.author }}
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="pc-build-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn @click="onClickSocialBuildButton" fab dark color="grey">
        <v-icon>mdi-account-multiple</v-icon>
      </v-btn>
      <v-btn @click="onClickPersonalBuildButton" fab dark color="grey">
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-container>
</template>
<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class BuildListInfo {
  constructor(uuid, name, author, totalPrice) {
    this.uuid = uuid;
    this.name = name;
    this.author = author;
    this.totalPrice = totalPrice;
  }
}
export default {
  name: "PcBuildList",
  mixins: [UrlPathMixins, UtilsMixins],
  props: {
    mode: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      pcBuildList: [],
      searchQuery: null,
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.getPcBuildList(this.searchQuery, this.pagination);
    },
  },
  created() {
    if (this.mode) {
      this.searchQuery = {
        username: this.$store.getters.getUsername,
      };
    }
    this.getPcBuildList(this.searchQuery, this.pagination);
  },
  methods: {
    onClickPersonalBuildButton() {
      this.$router
        .push({
          name: "personal-build-list",
        })
        .catch(() => {});
    },
    onClickSocialBuildButton() {
      this.$router
        .push({
          name: "social-build-list",
        })
        .catch(() => {});
    },
    getPcBuildList(query, pagination) {
      this.$http
        .get(this.url.pcBuild, { params: { ...query, ...pagination } })
        .then((res) => {
          this.pcBuildList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((item) => {
            let pcBuild = new BuildListInfo(
              item.uuid,
              item.name,
              item.username,
              item.total_price
            );
            this.pcBuildList.push(pcBuild);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        });
    },
    onClickCard(val) {
      this.$router.push({
        name: "pc-builder",
        params: {
          id: val,
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.pc-build-list {
  display: flex;

  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>