<template>
  <v-container fluid class="ssd-list">
    <v-container fluid>
      <v-row class="ssd-list__row">
        <v-col
          class="ssd-list__col"
          v-for="(ssd, index) in ssdList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="ssd-list__card"
            @click="onClickCard(ssd)"
            @mouseover="onMouseOverCard(ssd)"
            @mouseleave="onMouseLeaveCard(ssd)"
          >
            <v-img height="150" contain :src="getSsdImg(ssd.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ ssd.mfr }} {{ ssd.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="ssd-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(ssd.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("ssd.capacity") }}: {{ ssd.capacity }} GB
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("ssd.interface") }}: {{ ssd.interface }} ({{
                  ssd.form_factor
                }})
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("ssd.read_speed") }}: {{ ssd.read_speed }} MB/s
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("ssd.write_speed") }}: {{ ssd.write_speed }} MB/s
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="ssd.reveal"
                class="transition-fast-in-fast-out ssd-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("ssd.name") }}: {{ ssd.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ssd.model") }}: {{ ssd.model }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ssd.mfr") }}: {{ ssd.mfr }}
                  </div>
                  <div class="subtitle-2 ellipsis">
                    • {{ $t("ssd.capacity") }}: {{ ssd.capacity }} GB
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ssd.interface") }}: {{ ssd.interface }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ssd.form_factor") }}: {{ ssd.form_factor }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ssd.read_speed") }}: {{ ssd.read_speed }} MB/s
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("ssd.write_speed") }}: {{ ssd.write_speed }} MB/s
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="ssd-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <ssd-cu
      v-if="showSsdCuForm"
      :visible="showSsdCuForm"
      :mode="mode"
      :originalSsd="selectedSsd"
      @close="showSsdCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('ssd.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="ssdManufacturerList"
              :label="$t('ssd.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedInterface"
              :items="ssdInterfaceList"
              :label="$t('ssd.interface')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedFormFactor"
              :items="ssdFormFactorList"
              :label="$t('ssd.form_factor')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedCapacity"
              :items="ssdCapacityList"
              :label="$t('ssd.capacity')"
              suffix="GB"
              multiple
              chips
            ></v-select>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParams">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParams">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import SsdCu from "./SsdCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Ssd {
  constructor(
    id,
    name,
    model,
    mfr,
    capacity,
    inf,
    formFactor,
    readSpeed,
    writeSpeed,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.model = model;
    this.mfr = mfr;
    this.capacity = capacity;
    this.interface = inf;
    this.formFactor = formFactor;
    this.readSpeed = readSpeed;
    this.writeSpeed = writeSpeed;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "SsdList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { SsdCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParams: "name",
      orderParams: "ASC",

      ssdList: [],
      ssdManufacturerList: [],
      ssdInterfaceList: [],
      ssdFormFactorList: [],
      ssdCapacityList: [],

      sortByRadios: [
        { label: "ssd.name", value: "name" },
        { label: "ssd.price", value: "price" },
        { label: "ssd.capacity", value: "capacity" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedInterface: [],
      selectedFormFactor: [],
      selectedCapacity: [],

      showSsdCuForm: false,
      selectedSsd: new Ssd(0, "", "", "", 0, "", "", 0, 0, 0, ""),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildSsdList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getSsdImg(img) {
      if (img) {
        return `${this.url.ssdImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.ssdUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.ssdImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildSsdList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let ssdExportedList = [];
      await this.$http
        .get(this.url.ssd, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((ssd) => {
            delete ssd.id;
            ssdExportedList.push(ssd);
          });
        });
      this.exportFile(
        this.url.ssdExport,
        ssdExportedList,
        "ssds",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showSsdCuForm = true;
      this.selectedSsd = new Ssd(0, "", "", "", 0, "", "", 0, 0, 0, "");
    },
    onClickResetSortButton() {
      this.sortParams = "name";
      this.orderParams = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        interface: this.selectedInterface,
        form_factor: this.selectedFormFactor,
        capacity: this.selectedCapacity,
      };
      this.sortOrder = {
        sort: this.sortParams,
        order: this.orderParams,
      };
      this.currentPage = 1;
      this.buildSsdList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedInterface = [];
      this.selectedFormFactor = [];
      this.selectedCapacity = [];
    },
    onMouseOverCard(ssd) {
      ssd.reveal = true;
    },
    onMouseLeaveCard(ssd) {
      ssd.reveal = false;
    },
    onClickCard(ssd) {
      this.selectedSsd = new Ssd(
        ssd.id,
        ssd.name,
        ssd.model,
        ssd.mfr,
        ssd.capacity,
        ssd.interface,
        ssd.form_factor,
        ssd.read_speed,
        ssd.write_speed,
        ssd.price,
        ssd.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showSsdCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedSsd);
      }
    },

    searchSsdList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, { params: { ...pagination, ...query, ...sortOrder } })
        .then((res) => {
          this.ssdList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((ssd) => {
            ssd.reveal = false;
            this.ssdList.push(ssd);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.ssdManufacturerList = [];
      this.ssdInterfaceList = [];
      this.ssdFormFactorList = [];
      this.ssdCapacityList = [];

      return this.$http
        .get(this.url.ssd, { params: { size: 9999 } })
        .then((res) => {
          res.data.items.forEach((ssd) => {
            if (ssd.mfr && this.ssdManufacturerList.indexOf(ssd.mfr) === -1) {
              this.ssdManufacturerList.push(ssd.mfr);
            }
            if (
              ssd.interface &&
              this.ssdInterfaceList.indexOf(ssd.interface) === -1
            ) {
              this.ssdInterfaceList.push(ssd.interface);
            }
            if (
              ssd.form_factor &&
              this.ssdFormFactorList.indexOf(ssd.form_factor) === -1
            ) {
              this.ssdFormFactorList.push(ssd.form_factor);
            }
            if (
              ssd.capacity &&
              this.ssdCapacityList.indexOf(ssd.capacity) === -1
            ) {
              this.ssdCapacityList.push(ssd.capacity);
            }
          });
          this.ssdManufacturerList.sort();
          this.ssdInterfaceList.sort();
          this.ssdFormFactorList.sort((a, b) => a - b);
          this.ssdCapacityList.sort((a, b) => a - b);
        })
        .catch((err) => {});
    },
    buildSsdList() {
      this.searchSsdList(
        this.url.ssd,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildSsdList();
    },
  },
};
</script>

<style lang="scss" scoped>
.ssd-list {
  display: flex;
  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>