<template>
  <v-container class="homepage">
    <v-row>
      <v-col
        class="homepage__col"
        v-for="(item, index) in homepageItems"
        :key="index"
        md="3"
        sm="4"
      >
        <v-card class="homepage__card" :to="item.value">
          <v-img height="150" contain :src="item.img"></v-img>
          <v-card-title class="text-center homepage__card__title">
            {{ $t(item.title) }}
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div>
              {{ $t(item.desc) }}
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Homepage",
  data() {
    return {
      homepageItems: [
        {
          title: "label.cpu_label",
          value: "cpu",
          img: "/static/assets/chip.svg",
          desc: "label.cpu_desc",
        },
        {
          title: "label.mobo_label",
          value: "mobo",
          img: "/static/assets/motherboard.svg",
          desc: "label.mobo_desc",
        },
        {
          title: "label.ram_label",
          value: "ram",
          img: "/static/assets/ram-memory.svg",
          desc: "label.ram_desc",
        },
        {
          title: "label.gpu_label",
          value: "gpu",
          img: "/static/assets/video-card.svg",
          desc: "label.gpu_desc",
        },
        {
          title: "label.hdd_label",
          value: "hdd",
          img: "/static/assets/hard-drive.svg",
          desc: "label.hdd_desc",
        },
        {
          title: "label.ssd_label",
          value: "ssd",
          img: "/static/assets/ssd.svg",
          desc: "label.ssd_desc",
        },
        {
          title: "label.psu_label",
          value: "psu",
          img: "/static/assets/power-supply.svg",
          desc: "label.psu_desc",
        },
        {
          title: "label.chas_label",
          value: "chas",
          img: "/static/assets/computer.svg",
          desc: "label.chas_desc",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.homepage {
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    cursor: pointer;
    width: 275px;
    height: 400px;
    padding: 25px 0 25px 0;
    &__title {
      display: block;
    }
  }
}
</style>