<template>
  <v-container fluid class="mobo-list">
    <v-container fluid>
      <v-row class="mobo-list__row">
        <v-col
          class="mobo-list__col"
          v-for="(mobo, index) in moboList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="mobo-list__card"
            @click="onClickCard(mobo)"
            @mouseover="onMouseOverCard(mobo)"
            @mouseleave="onMouseLeaveCard(mobo)"
          >
            <v-img height="150" contain :src="getMoboImg(mobo.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ mobo.mfr }} {{ mobo.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="mobo-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(mobo.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("mobo.chipset") }}: {{ mobo.chipset }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("mobo.socket") }}: {{ mobo.socket }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("mobo.form_factor") }}: {{ mobo.form_factor }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("mobo.memory_slot_num") }}: {{ mobo.memory_slot_num }}
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="mobo.reveal"
                class="transition-fast-in-fast-out mobo-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("mobo.name") }}: {{ mobo.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("mobo.mfr") }}: {{ mobo.mfr }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("mobo.chipset") }}: {{ mobo.chipset }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("mobo.socket") }}: {{ mobo.socket }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("mobo.form_factor") }}: {{ mobo.form_factor }}
                  </div>
                  <div v-if="mobo.ecc === 'ecc'" class="subtitle-2">
                    • {{ $t("mobo.supported_memory") }}:
                    {{ mobo.memory_capacity }} GB {{ mobo.memory_type }}
                    {{ mobo.memory_freq }} MHz (ECC)
                  </div>
                  <div v-else class="subtitle-2">
                    • {{ $t("mobo.supported_memory") }}:
                    {{ mobo.memory_capacity }} GB {{ mobo.memory_type }}
                    {{ mobo.memory_freq }} MHz (Non-ECC)
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("mobo.memory_slot_num") }}:
                    {{ mobo.memory_slot_num }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("mobo.sata_slot_num") }}:
                    {{ mobo.sata_slot_num }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("mobo.m2_slot_num") }}:
                    {{ mobo.m2_slot_num }}
                  </div>
                  <div v-if="mobo.pcie_x16_slot_num" class="subtitle-2">
                    • {{ $t("mobo.pcie_x16_slot_num") }}:
                    {{ mobo.pcie_x16_slot_num }}
                  </div>
                  <div v-if="mobo.pcie_x8_slot_num" class="subtitle-2">
                    • {{ $t("mobo.pcie_x8_slot_num") }}:
                    {{ mobo.pcie_x8_slot_num }}
                  </div>
                  <div v-if="mobo.pcie_x4_slot_num" class="subtitle-2">
                    • {{ $t("mobo.pcie_x4_slot_num") }}:
                    {{ mobo.pcie_x4_slot_num }}
                  </div>
                  <div v-if="mobo.pcie_x2_slot_num" class="subtitle-2">
                    • {{ $t("mobo.pcie_x2_slot_num") }}:
                    {{ mobo.pcie_x2_slot_num }}
                  </div>
                  <div v-if="mobo.pcie_x1_slot_num" class="subtitle-2">
                    • {{ $t("mobo.pcie_x1_slot_num") }}:
                    {{ mobo.pcie_x1_slot_num }}
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="mobo-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <mobo-cu
      v-if="showMoboCuForm"
      :visible="showMoboCuForm"
      :mode="mode"
      :originalMobo="selectedMobo"
      @close="showMoboCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('mobo.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="moboManufacturerList"
              :label="$t('mobo.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedSocket"
              :items="moboSocketList"
              :label="$t('mobo.socket')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedChipset"
              :items="moboChipsetList"
              :label="$t('mobo.chipset')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedSize"
              :items="moboFormFactorList"
              :label="$t('mobo.form_factor')"
              multiple
              chips
            ></v-select>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParam">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParam">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import MoboCu from "./MoboCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Mobo {
  constructor(
    id,
    name,
    mfr,
    chipset,
    socket,
    formFactor,
    memoryCapacity,
    memoryType,
    memoryFreq,
    ecc,
    memorySlotNum,
    pcieX16SlotNum,
    pcieX8SlotNum,
    pcieX4SlotNum,
    pcieX2SlotNum,
    pcieX1SlotNum,
    sataSlotNum,
    m2SlotNum,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.mfr = mfr;
    this.chipset = chipset;
    this.socket = socket;
    this.formFactor = formFactor;
    this.memoryCapacity = memoryCapacity;
    this.memoryType = memoryType;
    this.memoryFreq = memoryFreq;
    this.ecc = ecc;
    this.memorySlotNum = memorySlotNum;
    this.pcieX16SlotNum = pcieX16SlotNum;
    this.pcieX8SlotNum = pcieX8SlotNum;
    this.pcieX4SlotNum = pcieX4SlotNum;
    this.pcieX2SlotNum = pcieX2SlotNum;
    this.pcieX1SlotNum = pcieX1SlotNum;
    this.sataSlotNum = sataSlotNum;
    this.m2SlotNum = m2SlotNum;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "MoboList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { MoboCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
    strict: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParam: "name",
      orderParam: "ASC",

      moboList: [],
      moboManufacturerList: [],
      moboSocketList: [],
      moboChipsetList: [],
      moboFormFactorList: [],

      sortByRadios: [
        { label: "mobo.name", value: "name" },
        { label: "mobo.price", value: "price" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedSocket: [],
      selectedChipset: [],
      selectedSize: [],

      showMoboCuForm: false,
      selectedMobo: new Mobo(
        0,
        "",
        "",
        "",
        "",
        "",
        0,
        "",
        0,
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        ""
      ),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildMoboList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  computed: {
    processedStrict() {
      return {
        socket: this.strict.cpuSocket || "",
        memory_type:
          this.strict.cpuMemoryType || this.strict.ramMemoryType || "",
        ecc: this.strict.cpuEcc || this.strict.ramEcc || "",
        form_factor: this.strict.moboFormFactor || "",
      };
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getMoboImg(img) {
      if (img) {
        return `${this.url.moboImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.moboUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.moboImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildMoboList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let moboExportedList = [];
      await this.$http
        .get(this.url.mobo, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((mobo) => {
            delete mobo.id;
            moboExportedList.push(mobo);
          });
        });
      this.exportFile(
        this.url.moboExport,
        moboExportedList,
        "mobos",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showMoboCuForm = true;
      this.selectedMobo = new Mobo(
        0,
        "",
        "",
        "",
        "",
        "",
        0,
        "",
        0,
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        ""
      );
    },
    onClickResetSortButton() {
      this.sortParam = "name";
      this.orderParam = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        socket: this.selectedSocket,
        chipset: this.selectedChipset,
        form_factor: this.selectedSize,
      };
      this.sortOrder = {
        sort: this.sortParam,
        order: this.orderParam,
      };
      this.currentPage = 1;
      this.buildMoboList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedSocket = [];
      this.selectedChipset = [];
      this.selectedSize = [];
    },
    onMouseOverCard(mobo) {
      mobo.reveal = true;
    },
    onMouseLeaveCard(mobo) {
      mobo.reveal = false;
    },
    onClickCard(mobo) {
      this.selectedMobo = new Mobo(
        mobo.id,
        mobo.name,
        mobo.mfr,
        mobo.chipset,
        mobo.socket,
        mobo.form_factor,
        mobo.memory_capacity,
        mobo.memory_type,
        mobo.memory_freq,
        mobo.ecc,
        mobo.memory_slot_num,
        mobo.pcie_x16_slot_num,
        mobo.pcie_x8_slot_num,
        mobo.pcie_x4_slot_num,
        mobo.pcie_x2_slot_num,
        mobo.pcie_x1_slot_num,
        mobo.sata_slot_num,
        mobo.m2_slot_num,
        mobo.price,
        mobo.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showMoboCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedMobo);
      }
    },

    searchMoboList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, {
          params: {
            ...pagination,
            ...query,
            ...sortOrder,
            ...this.processedStrict,
          },
        })
        .then((res) => {
          this.moboList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((mobo) => {
            mobo.reveal = false;
            this.moboList.push(mobo);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.moboManufacturerList = [];
      this.moboSocketList = [];
      this.moboChipsetList = [];
      this.moboFormFactorList = [];

      return this.$http
        .get(this.url.mobo, { params: { size: 9999, ...this.processedStrict } })
        .then((res) => {
          res.data.items.forEach((mobo) => {
            if (
              mobo.mfr &&
              this.moboManufacturerList.indexOf(mobo.mfr) === -1
            ) {
              this.moboManufacturerList.push(mobo.mfr);
            }
            if (
              mobo.socket &&
              this.moboSocketList.indexOf(mobo.socket) === -1
            ) {
              this.moboSocketList.push(mobo.socket);
            }
            if (
              mobo.chipset &&
              this.moboChipsetList.indexOf(mobo.chipset) === -1
            ) {
              this.moboChipsetList.push(mobo.chipset);
            }
            if (
              mobo.form_factor &&
              this.moboFormFactorList.indexOf(mobo.form_factor) === -1
            ) {
              this.moboFormFactorList.push(mobo.form_factor);
            }
          });
          this.moboManufacturerList.sort();
          this.moboSocketList.sort();
          this.moboChipsetList.sort((a, b) => a - b);
          this.moboFormFactorList.sort((a, b) => a - b);
        })
        .catch((err) => {});
    },
    buildMoboList() {
      this.searchMoboList(
        this.url.mobo,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildMoboList();
    },
  },
};
</script>

<style lang="scss" scoped>
.mobo-list {
  display: flex;
  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>