<template>
  <v-dialog
    v-model="visible"
    width="1000px"
    @click:outside="onClickCancelDetailButton"
    class="mobo-cu-dialog"
  >
    <v-card>
      <v-card-title v-if="mode === 'C'">
        <v-icon>mdi-database-plus-outline</v-icon>&nbsp;
        {{ $t("mobo.add_mobo") }}
      </v-card-title>
      <v-card-title v-else-if="mode === 'U' && isEditable">
        <v-icon>mdi-database-edit-outline</v-icon>&nbsp;
        {{ $t("mobo.edit_mobo") }}
      </v-card-title>
      <v-card-title v-else>
        <v-icon>mdi-database-outline</v-icon>&nbsp;
        {{ $t("mobo.mobo_detail") }}
      </v-card-title>
      <v-form v-model="valid" ref="form">
        <v-container class="pl-8 pr-8">
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="mobo.name"
                placeholder=" "
                :label="$t('mobo.name')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="mobo.mfr"
                placeholder=" "
                :items="moboMfrList"
                :label="$t('mobo.mfr')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="mobo.formFactor"
                placeholder=" "
                :items="moboFormFactorList"
                :label="$t('mobo.form_factor')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="mobo.socket"
                placeholder=" "
                :items="supportedSocketList"
                :label="$t('mobo.socket')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="mobo.chipset"
                placeholder=" "
                :items="moboChipsetList"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :label="$t('mobo.chipset')"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.pcieX16SlotNum"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('mobo.pcie_x16_slot_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.pcieX8SlotNum"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('mobo.pcie_x8_slot_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.pcieX4SlotNum"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('mobo.pcie_x4_slot_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.pcieX2SlotNum"
                placeholder=" "
                type="number"
                :label="$t('mobo.pcie_x2_slot_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.pcieX1SlotNum"
                placeholder=" "
                type="number"
                :label="$t('mobo.pcie_x1_slot_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.sataSlotNum"
                placeholder=" "
                type="number"
                :label="$t('mobo.sata_slot_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.m2SlotNum"
                placeholder=" "
                type="number"
                :label="$t('mobo.m2_slot_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                v-model="mobo.memorySlotNum"
                placeholder=" "
                type="number"
                :label="$t('mobo.memory_slot_num')"
                :rules="[numberRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-select
                dense
                v-model="mobo.memoryType"
                placeholder=" "
                :items="ramMemoryTypeList"
                :label="$t('mobo.memory_type')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              ></v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="mobo.memoryFreq"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                suffix="MHz"
                :label="$t('mobo.memory_freq')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-select
                dense
                v-model="mobo.ecc"
                placeholder=" "
                :items="eccSupportedList"
                :label="$t('mobo.ecc')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              ></v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="mobo.memoryCapacity"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                suffix="GB"
                :label="$t('mobo.memory_capacity')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="mobo.price"
                placeholder=" "
                type="number"
                :label="$t('mobo.price')"
                prefix="₫"
                :rules="[intRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card class="pa-4">
                <v-img contain height="230" :src="urlImg">
                  <v-file-input
                    dense
                    hide-input
                    prepend-icon="mdi-camera"
                    accept="image/*"
                    :label="$t('common.image')"
                    @change="onImageChange"
                    @click:clear="onImageClear"
                    :disabled="!isEditable"
                  >
                  </v-file-input>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card-actions>
        <v-btn
          v-if="mode === 'U' && !isEditable && $store.getters.isAdmin"
          color="error"
          @click="onClickDeleteButton"
          text
        >
          {{ $t("common.delete") }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isEditable && !loadingButton"
          text
          @click="onClickCancelButton"
        >
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn v-if="!isEditable" text @click="onClickCancelDetailButton">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="!isEditable && $store.getters.isAdmin"
          text
          @click="onClickModifyButton"
        >
          {{ $t("common.modify") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="isEditable && $store.getters.isAdmin"
          text
          :loading="loadingButton"
          @click="onClickSaveButton"
          >{{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
      <v-dialog v-model="discardConfirmDialog" max-width="250">
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.discard_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDiscardButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn color="error" text @click="onClickConfirmDiscardButton">
              {{ $t("common.discard") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-if="mode === 'U'"
        v-model="deleteConfirmDialog"
        max-width="250"
      >
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.delete_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDeleteButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn
              color="error"
              text
              @click="onClickConfirmDeleteButton(mobo.id)"
            >
              {{ $t("common.delete") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-dialog>
</template>

<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "MoboCu",
  mixins: [UrlPathMixins, ValidationMixins, UtilsMixins],
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: "C",
    },
    originalMobo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      isEditable: false,
      mobo: {},
      urlImg: "",
      originalUrlImg: "",
      valid: false,
      loadingButton: false,
      deleteConfirmDialog: false,
      discardConfirmDialog: false,
    };
  },
  created() {
    if (this.mode === "C") {
      this.isEditable = true;
    }
    this.mobo = { ...this.originalMobo };
    this.originalUrlImg = this.mobo.img
      ? `${this.url.moboImg}/${this.mobo.img}`
      : "";
    this.urlImg = this.originalUrlImg;
  },
  methods: {
    onClickModifyButton() {
      this.isEditable = true;
    },
    onClickCancelDeleteButton() {
      this.deleteConfirmDialog = false;
    },
    onClickConfirmDeleteButton(id) {
      this.$http
        .delete(`${this.url.mobo}/${id}`)
        .then(() => {
          this.$http.delete(this.url.moboUploadImg, {
            data: [this.mobo.img],
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.deleteConfirmDialog = false;
          this.$emit("close");
          this.$emit("search");
        });
    },
    onClickDeleteButton() {
      this.deleteConfirmDialog = true;
    },
    onClickCancelDiscardButton() {
      this.discardConfirmDialog = false;
    },
    onClickConfirmDiscardButton() {
      if (this.mode === "U") {
        this.$refs.form.resetValidation();
        this.isEditable = false;
        this.discardConfirmDialog = false;
        this.mobo = { ...this.originalMobo };
        this.urlImg = this.originalUrlImg;
      } else {
        this.$emit("close");
      }
    },
    onClickCancelButton() {
      if (!this.compareObjects(this.originalMobo, this.mobo)) {
        this.discardConfirmDialog = true;
      } else {
        this.onClickConfirmDiscardButton();
      }
    },
    onClickCancelDetailButton() {
      this.$emit("close");
    },
    async onClickSaveButton() {
      if (this.$refs.form.validate()) {
        this.loadingButton = true;
        let body = {
          name: this.mobo.name || "",
          mfr: this.mobo.mfr || "",
          chipset: this.mobo.chipset || "",
          socket: this.mobo.socket || "",
          form_factor: this.mobo.formFactor || "",
          memory_capacity: this.mobo.memoryCapacity || 0,
          memory_type: this.mobo.memoryType || "",
          memory_freq: this.mobo.memoryFreq || 0,
          ecc: this.mobo.ecc || "",
          memory_slot_num: this.mobo.memorySlotNum || 0,
          pcie_x16_slot_num: this.mobo.pcieX16SlotNum || 0,
          pcie_x8_slot_num: this.mobo.pcieX8SlotNum || 0,
          pcie_x4_slot_num: this.mobo.pcieX4SlotNum || 0,
          pcie_x2_slot_num: this.mobo.pcieX2SlotNum || 0,
          pcie_x1_slot_num: this.mobo.pcieX1SlotNum || 0,
          sata_slot_num: this.mobo.sataSlotNum || 0,
          m2_slot_num: this.mobo.m2SlotNum || 0,
          price: this.mobo.price || 0,
        };
        if (this.mobo.imgFile) {
          let formData = new FormData();
          formData.append("img", this.mobo.imgFile);
          await this.$http
            .post(this.url.moboUploadImg, formData)
            .then((res) => {
              body.img = res.data.filename;
            });
        }
        if (this.mode === "C") {
          this.$http
            .post(this.url.mobo, body)
            .catch((err) => {
              this.$http.delete(this.url.moboUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        } else if (this.mode === "U") {
          this.$http
            .put(`${this.url.mobo}/${this.mobo.id}`, body)
            .then((res) => {
              if (this.mobo.imgFile) {
                this.$http.delete(this.url.moboUploadImg, {
                  data: [this.mobo.img],
                });
              }
            })
            .catch((err) => {
              this.$http.delete(this.url.moboUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        }
      }
    },
    onImageChange(img) {
      if (img) {
        this.mobo.imgFile = img;
        this.setUrlImg(img);
      }
    },
    setUrlImg(img) {
      this.urlImg = URL.createObjectURL(img);
    },
    onImageClear() {
      this.mobo.imgFile = "";
      this.urlImg = "";
    },
  },
};
</script>
<style lang="scss" scoped>
</style>