<template>
  <v-dialog
    v-model="visible"
    width="1000px"
    @click:outside="onClickCancelDetailButton"
    class="cpu-cu-dialog"
  >
    <v-card>
      <v-card-title v-if="mode === 'C'">
        <v-icon>mdi-database-plus-outline</v-icon>&nbsp;
        {{ $t("cpu.add_cpu") }}
      </v-card-title>
      <v-card-title v-else-if="mode === 'U' && isEditable">
        <v-icon>mdi-database-edit-outline</v-icon>&nbsp;
        {{ $t("cpu.edit_cpu") }}
      </v-card-title>
      <v-card-title v-else>
        <v-icon>mdi-database-outline</v-icon>&nbsp;
        {{ $t("cpu.cpu_detail") }}
      </v-card-title>
      <v-form v-model="valid" ref="form">
        <v-container class="pl-8 pr-8">
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="cpu.name"
                placeholder=" "
                :label="$t('cpu.name')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="cpu.mfr"
                placeholder=" "
                :items="cpuMfrList"
                :label="$t('cpu.mfr')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="cpu.graphics"
                placeholder=" "
                :label="$t('cpu.graphics')"
                :rules="[textRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-combobox
                dense
                v-model="cpu.socket"
                placeholder=" "
                :items="supportedSocketList"
                :label="$t('cpu.socket')"
                :rules="[textRule, requiredRule]"
                :counter="50"
                :disabled="!isEditable"
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="cpu.lithography"
                placeholder=" "
                type="number"
                suffix="nm"
                :rules="[numberRule]"
                :label="$t('cpu.lithography')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="cpu.coreNum"
                placeholder=" "
                type="number"
                :rules="[numberRule, requiredRule]"
                :label="$t('cpu.core_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="cpu.threadNum"
                placeholder=" "
                type="number"
                :rules="[numberRule, requiredRule]"
                :label="$t('cpu.thread_num')"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                v-model="cpu.cache"
                placeholder=" "
                type="number"
                :label="$t('cpu.cache')"
                :rules="[numberRule]"
                suffix="MB"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="cpu.baseFreq"
                placeholder=" "
                type="number"
                :label="$t('cpu.base_freq')"
                :rules="[numberRule, requiredRule]"
                suffix="GHz"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="cpu.turboFreq"
                placeholder=" "
                type="number"
                :label="$t('cpu.turbo_freq')"
                :rules="[numberRule]"
                suffix="GHz"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-select
                dense
                v-model="cpu.memoryType"
                placeholder=" "
                :items="ramMemoryTypeList"
                :label="$t('cpu.memory_type')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              ></v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="cpu.memoryFreq"
                placeholder=" "
                type="number"
                :rules="[numberRule]"
                :label="$t('cpu.memory_freq')"
                suffix="MHz"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-select
                dense
                v-model="cpu.ecc"
                placeholder=" "
                :items="eccSupportedList"
                :label="$t('cpu.ecc')"
                :rules="[requiredRule]"
                :disabled="!isEditable"
              >
              </v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field
                dense
                v-model="cpu.tdp"
                placeholder=" "
                type="number"
                :label="$t('cpu.tdp')"
                :rules="[numberRule]"
                suffix="W"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                dense
                v-model="cpu.price"
                placeholder=" "
                type="number"
                :label="$t('cpu.price')"
                prefix="₫"
                :rules="[intRule]"
                :disabled="!isEditable"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card class="pa-4">
                <v-img contain height="230" :src="urlImg">
                  <v-file-input
                    dense
                    hide-input
                    prepend-icon="mdi-camera"
                    accept="image/*"
                    :label="$t('common.image')"
                    @change="onImageChange"
                    @click:clear="onImageClear"
                    :disabled="!isEditable"
                  >
                  </v-file-input>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card-actions>
        <v-btn
          v-if="mode === 'U' && !isEditable && $store.getters.isAdmin"
          color="error"
          @click="onClickDeleteButton"
          text
        >
          {{ $t("common.delete") }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isEditable && !loadingButton"
          text
          @click="onClickCancelButton"
        >
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn v-if="!isEditable" text @click="onClickCancelDetailButton">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="!isEditable && $store.getters.isAdmin"
          text
          @click="onClickModifyButton"
        >
          {{ $t("common.modify") }}
        </v-btn>
        <v-btn
          color="primary"
          v-if="isEditable && $store.getters.isAdmin"
          text
          :loading="loadingButton"
          @click="onClickSaveButton"
          >{{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
      <v-dialog v-model="discardConfirmDialog" max-width="250">
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.discard_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDiscardButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn color="error" text @click="onClickConfirmDiscardButton">
              {{ $t("common.discard") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-if="mode === 'U'"
        v-model="deleteConfirmDialog"
        max-width="250"
      >
        <v-card>
          <v-card-title>{{ $t("common.confirm") }}</v-card-title>
          <v-card-text>{{ $t("message.delete_msg") }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="onClickCancelDeleteButton">
              {{ $t("common.cancel") }}
            </v-btn>
            <v-btn
              color="error"
              text
              @click="onClickConfirmDeleteButton(cpu.id)"
            >
              {{ $t("common.delete") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-dialog>
</template>

<script>
import UrlPathMixins from "../../mixins/UrlPathMixins";
import ValidationMixins from "../../mixins/ValidationMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "CpuCu",
  mixins: [UrlPathMixins, ValidationMixins, UtilsMixins],
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: "C",
    },
    originalCpu: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isEditable: false,
      cpu: {},
      urlImg: "",
      originalUrlImg: "",
      valid: false,
      loadingButton: false,
      deleteConfirmDialog: false,
      discardConfirmDialog: false,
    };
  },
  created() {
    if (this.mode === "C") {
      this.isEditable = true;
    }
    this.cpu = { ...this.originalCpu };
    this.originalUrlImg = this.cpu.img
      ? `${this.url.cpuImg}/${this.cpu.img}`
      : "";
    this.urlImg = this.originalUrlImg;
  },
  methods: {
    onClickModifyButton() {
      this.isEditable = true;
    },
    onClickCancelDeleteButton() {
      this.deleteConfirmDialog = false;
    },
    onClickConfirmDeleteButton(id) {
      this.$http
        .delete(`${this.url.cpu}/${id}`)
        .then(() => {
          this.$http.delete(this.url.cpuUploadImg, {
            data: [this.cpu.img],
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.deleteConfirmDialog = false;
          this.$emit("close");
          this.$emit("search");
        });
    },
    onClickDeleteButton() {
      this.deleteConfirmDialog = true;
    },
    onClickCancelDiscardButton() {
      this.discardConfirmDialog = false;
    },
    onClickConfirmDiscardButton() {
      if (this.mode === "U") {
        this.$refs.form.resetValidation();
        this.isEditable = false;
        this.discardConfirmDialog = false;
        this.cpu = { ...this.originalCpu };
        this.urlImg = this.originalUrlImg;
      } else {
        this.$emit("close");
      }
    },
    onClickCancelButton() {
      if (!this.compareObjects(this.originalCpu, this.cpu)) {
        this.discardConfirmDialog = true;
      } else {
        this.onClickConfirmDiscardButton();
      }
    },
    onClickCancelDetailButton() {
      this.$emit("close");
    },
    async onClickSaveButton() {
      if (this.$refs.form.validate()) {
        this.loadingButton = true;
        let body = {
          name: this.cpu.name || "",
          mfr: this.cpu.mfr || "",
          socket: this.cpu.socket || "",
          core_num: this.cpu.coreNum || 0,
          thread_num: this.cpu.threadNum || 0,
          base_freq: this.cpu.baseFreq || 0,
          turbo_freq: this.cpu.turboFreq || 0,
          cache: this.cpu.cache || 0,
          tdp: this.cpu.tdp || 0,
          memory_type: this.cpu.memoryType || "",
          memory_freq: this.cpu.memoryFreq || 0,
          ecc: this.cpu.ecc || "",
          lithography: this.cpu.lithography || 0,
          graphics: this.cpu.graphics || "",
          price: this.cpu.price || 0,
        };
        if (this.cpu.imgFile) {
          let formData = new FormData();
          formData.append("img", this.cpu.imgFile);
          await this.$http.post(this.url.cpuUploadImg, formData).then((res) => {
            body.img = res.data.filename;
          });
        }
        if (this.mode === "C") {
          this.$http
            .post(this.url.cpu, body)
            .catch((err) => {
              this.$http.delete(this.url.cpuUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        } else if (this.mode === "U") {
          this.$http
            .put(`${this.url.cpu}/${this.cpu.id}`, body)
            .then((res) => {
              if (this.cpu.imgFile) {
                this.$http.delete(this.url.cpuUploadImg, {
                  data: [this.cpu.img],
                });
              }
            })
            .catch((err) => {
              this.$http.delete(this.url.cpuUploadImg, { data: [body.img] });
              let snackbar = {
                err: true,
                msg: err,
              };
              this.$emit("notifyError", snackbar);
            })
            .finally(() => {
              this.$emit("close");
              this.$emit("search");
            });
        }
      }
    },
    onImageChange(img) {
      if (img) {
        this.cpu.imgFile = img;
        this.setUrlImg(img);
      }
    },
    setUrlImg(img) {
      this.urlImg = URL.createObjectURL(img);
    },
    onImageClear() {
      this.cpu.imgFile = "";
      this.urlImg = "";
    },
  },
};
</script>
<style lang="scss" scoped>
</style>