<template>
  <v-container fluid class="cpu-list">
    <v-container fluid>
      <v-row class="cpu-list__row">
        <v-col
          class="cpu-list__col"
          v-for="(cpu, index) in cpuList"
          :key="index"
          md="2"
          sm="4"
        >
          <v-card
            class="cpu-list__card"
            @click="onClickCard(cpu)"
            @mouseover="onMouseOverCard(cpu)"
            @mouseleave="onMouseLeaveCard(cpu)"
          >
            <v-img height="150" contain :src="getCpuImg(cpu.img)"></v-img>
            <v-card-title class="ellipsis">
              {{ cpu.mfr }} {{ cpu.name }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="cpu-list__card__description">
              <div class="subtitle-2 red--text ellipsis">
                ₫ • {{ formatNumber(cpu.price) }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("cpu.base_freq") }}: {{ cpu.base_freq }} GHz
              </div>
              <div v-if="cpu.turbo_freq" class="subtitle-2 ellipsis">
                • {{ $t("cpu.turbo_freq") }}: {{ cpu.turbo_freq }} GHz
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("cpu.core_num") }}: {{ cpu.core_num }}
              </div>
              <div class="subtitle-2 ellipsis">
                • {{ $t("cpu.thread_num") }}: {{ cpu.thread_num }}
              </div>
            </v-card-text>

            <v-expand-transition>
              <v-card
                v-if="cpu.reveal"
                class="transition-fast-in-fast-out cpu-list__card--reveal"
              >
                <v-card-text class="pb-0">
                  <div class="title text--primary">
                    {{ $t("common.specs") }}
                  </div>
                  <v-divider class="mb-4"></v-divider>
                  <div class="subtitle-2">
                    • {{ $t("cpu.name") }}: {{ cpu.name }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("cpu.mfr") }}: {{ cpu.mfr }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("cpu.core_num") }}: {{ cpu.core_num }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("cpu.thread_num") }}: {{ cpu.thread_num }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("cpu.base_freq") }}: {{ cpu.base_freq }} GHz
                  </div>
                  <div v-if="cpu.turbo_freq" class="subtitle-2">
                    • {{ $t("cpu.turbo_freq") }}: {{ cpu.turbo_freq }} GHz
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("cpu.cache") }}: {{ cpu.cache }} MB
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("cpu.socket") }}: {{ cpu.socket }}
                  </div>
                  <div class="subtitle-2">
                    • {{ $t("cpu.tdp") }}: {{ cpu.tdp }} W
                  </div>
                  <div v-if="cpu.ecc === 'ecc'" class="subtitle-2">
                    • {{ $t("cpu.supported_memory") }}: {{ cpu.memory_type }}
                    {{ cpu.memory_freq }} MHz (ECC)
                  </div>
                  <div v-else class="subtitle-2">
                    • {{ $t("cpu.supported_memory") }}: {{ cpu.memory_type }}
                    {{ cpu.memory_freq }} MHz (Non-ECC)
                  </div>
                  <div v-if="cpu.lithography" class="subtitle-2">
                    • {{ $t("cpu.lithography") }}: {{ cpu.lithography }} nm
                  </div>
                  <div v-if="cpu.graphics" class="subtitle-2">
                    • {{ $t("cpu.graphics") }}: {{ cpu.graphics }}
                  </div>
                </v-card-text>
              </v-card>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-pagination
        v-model="currentPage"
        :length="totalPages"
        :total-visible="10"
      ></v-pagination>
    </v-container>
    <v-speed-dial
      v-model="fab"
      class="cpu-list__floating-button"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="grey darken-3" dark fab large>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showExportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-export-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="showImportForm = true"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-import-outline</v-icon>
      </v-btn>
      <v-btn
        v-if="$store.getters.isAdmin && !this.build"
        @click="onClickAddButton"
        fab
        dark
        color="grey"
      >
        <v-icon>mdi-database-plus-outline </v-icon>
      </v-btn>
      <v-btn @click="showSearchForm = true" fab dark color="grey">
        <v-icon>mdi-database-search-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <cpu-cu
      v-if="showCpuCuForm"
      :visible="showCpuCuForm"
      :mode="mode"
      :originalCpu="selectedCpu"
      @close="showCpuCuForm = false"
      @search="buildPage"
    />
    <v-bottom-sheet width="1000px" v-model="showSearchForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.search") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-combobox
              dense
              v-model="selectedName"
              :label="$t('cpu.name')"
              chips
            >
            </v-combobox>
            <v-select
              dense
              v-model="selectedManufacturer"
              :items="cpuManufacturerList"
              :label="$t('cpu.mfr')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedSocket"
              :items="cpuSocketList"
              :label="$t('cpu.socket')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedCoreNum"
              :items="cpuCoreNumList"
              :label="$t('cpu.core_num')"
              multiple
              chips
            ></v-select>
            <v-select
              dense
              v-model="selectedThreadNum"
              :items="cpuThreadNumList"
              :label="$t('cpu.thread_num')"
              multiple
              chips
            ></v-select>
            <v-btn color="error" block text @click="onClickResetSearchButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.sort") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-radio-group :label="$t('common.sort_by')" v-model="sortParam">
              <v-radio
                v-for="(item, index) in sortByRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-radio-group :label="$t('common.sort_in')" v-model="orderParam">
              <v-radio
                v-for="(item, index) in sortInRadios"
                :key="index"
                :label="$t(item.label)"
                :value="item.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="error" block text @click="onClickResetSortButton">
              {{ $t("common.reset") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showExportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.export") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-select
              v-model="selectedExportFileType"
              :label="$t('common.format')"
              :items="fileTypeList"
            >
            </v-select>
            <v-btn color="primary" block text @click="onClickExportButton">
              {{ $t("common.export") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
    <v-bottom-sheet width="1000px" v-model="showImportForm" inset>
      <v-expansion-panels accordion v-model="expansionPanel">
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept=".csv"
              label="CSV"
              @change="onSelectImportFile"
              @click:clear="onClearImportFile"
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            {{ $t("common.import_img") }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-file-input
              accept="image/*"
              :label="$t('common.image')"
              prepend-icon="mdi-camera"
              @change="onSelectImportImage"
              @click:clear="onClearImportImage"
              multiple
              :key="importFileKey"
            ></v-file-input>
            <v-btn color="primary" block text @click="onClickImportImageButton">
              {{ $t("common.import") }}
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import CpuCu from "./CpuCu";
import UrlPathMixins from "../../mixins/UrlPathMixins";
import UtilsMixins from "../../mixins/UtilsMixins";

class Cpu {
  constructor(
    id,
    name,
    mfr,
    socket,
    coreNum,
    threadNum,
    baseFreq,
    turboFreq,
    cache,
    tdp,
    memoryType,
    memoryFreq,
    ecc,
    lithography,
    graphics,
    price,
    img
  ) {
    this.id = id;
    this.name = name;
    this.mfr = mfr;
    this.socket = socket;
    this.coreNum = coreNum;
    this.threadNum = threadNum;
    this.baseFreq = baseFreq;
    this.turboFreq = turboFreq;
    this.cache = cache;
    this.tdp = tdp;
    this.memoryType = memoryType;
    this.memoryFreq = memoryFreq;
    this.ecc = ecc;
    this.lithography = lithography;
    this.graphics = graphics;
    this.price = price;
    this.img = img;
  }
}

export default {
  name: "CpuList",
  mixins: [UrlPathMixins, UtilsMixins],
  components: { CpuCu },
  props: {
    build: {
      type: Boolean,
      default: false,
    },
    strict: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      currentPage: 1,
      totalPages: 1,
      pagination: {
        page: 0,
        size: 12,
      },
      searchQuery: {},
      sortOrder: {},
      sortParam: "name",
      orderParam: "ASC",

      cpuList: [],
      cpuManufacturerList: [],
      cpuSocketList: [],
      cpuCoreNumList: [],
      cpuThreadNumList: [],

      sortByRadios: [
        { label: "cpu.name", value: "name" },
        { label: "cpu.price", value: "price" },
        { label: "cpu.core_num", value: "core_num" },
        { label: "cpu.thread_num", value: "thread_num" },
      ],
      sortInRadios: [
        { label: "common.asc", value: "ASC" },
        { label: "common.desc", value: "DESC" },
      ],

      selectedName: "",
      selectedManufacturer: [],
      selectedSocket: [],
      selectedCoreNum: [],
      selectedThreadNum: [],

      showCpuCuForm: false,
      selectedCpu: new Cpu(
        0,
        "",
        "",
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        "",
        0,
        "",
        "",
        "",
        0,
        ""
      ),
    };
  },
  watch: {
    currentPage(page) {
      this.pagination.page = page - 1;
      this.buildCpuList();
    },
    showSearchForm() {
      if (!this.showSearchForm) {
        this.searchAndSort();
      }
      this.expansionPanel = "";
    },
    showExportForm() {
      this.selectedExportFileType = "csv";
      this.expansionPanel = "";
    },
    showImportForm() {
      this.importFileKey++;
      this.selectedImportFile = null;
      this.selectedImportImages = [];
      this.expansionPanel = "";
    },
  },
  computed: {
    processedStrict() {
      return {
        socket: this.strict.moboSocket || "",
        memory_type:
          this.strict.moboMemoryType || this.strict.ramMemoryType || "",
        ecc: this.strict.moboEcc || this.strict.ramEcc || "",
      };
    },
  },
  created() {
    this.buildPage();
  },
  methods: {
    getCpuImg(img) {
      if (img) {
        return `${this.url.cpuImg}/${img}`;
      } else {
        return "";
      }
    },
    onSelectImportImage(imgArr) {
      imgArr.forEach((img) => {
        this.selectedImportImages.push(img);
      });
    },
    onClearImportImage() {
      this.selectedImportImages = [];
    },
    async onClickImportImageButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      this.selectedImportImages.forEach((img) => {
        formData.append("img[]", img);
      });
      await this.$http
        .post(this.url.cpuUploadBulkImg, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onSelectImportFile(file) {
      this.selectedImportFile = file;
    },
    onClearImportFile() {
      this.selectedImportFile = null;
    },
    async onClickImportButton() {
      this.$emit("showProgress", true);
      let formData = new FormData();
      formData.append("csv", this.selectedImportFile);
      await this.$http
        .post(this.url.cpuImport, formData)
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showImportForm = false;
          this.$emit("showProgress", false);
        });
      this.buildCpuList();
    },
    async onClickExportButton() {
      this.$emit("showProgress", true);
      let cpuExportedList = [];
      await this.$http
        .get(this.url.cpu, {
          params: { size: 9999, ...this.searchQuery, ...this.sortOrder },
        })
        .then((res) => {
          res.data.items.forEach((cpu) => {
            delete cpu.id;
            cpuExportedList.push(cpu);
          });
        });
      this.exportFile(
        this.url.cpuExport,
        cpuExportedList,
        "cpus",
        this.selectedExportFileType
      )
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.showExportForm = false;
          this.$emit("showProgress", false);
        });
    },
    onClickAddButton() {
      this.mode = "C";
      this.showCpuCuForm = true;
      this.selectedCpu = new Cpu(
        0,
        "",
        "",
        "",
        0,
        0,
        0,
        0,
        0,
        0,
        "",
        0,
        "",
        "",
        "",
        0,
        ""
      );
    },
    onClickResetSortButton() {
      this.sortParam = "name";
      this.orderParam = "ASC";
    },
    searchAndSort() {
      this.searchQuery = {
        name: this.selectedName,
        mfr: this.selectedManufacturer,
        socket: this.selectedSocket,
        core_num: this.selectedCoreNum,
        thread_num: this.selectedThreadNum,
      };
      this.sortOrder = {
        sort: this.sortParam,
        order: this.orderParam,
      };
      this.currentPage = 1;
      this.buildCpuList();
      this.showSearchForm = false;
    },
    onClickResetSearchButton() {
      this.selectedName = "";
      this.selectedManufacturer = [];
      this.selectedSocket = [];
      this.selectedCoreNum = [];
      this.selectedThreadNum = [];
    },
    onMouseOverCard(cpu) {
      cpu.reveal = true;
    },
    onMouseLeaveCard(cpu) {
      cpu.reveal = false;
    },
    onClickCard(cpu) {
      this.selectedCpu = new Cpu(
        cpu.id,
        cpu.name,
        cpu.mfr,
        cpu.socket,
        cpu.core_num,
        cpu.thread_num,
        cpu.base_freq,
        cpu.turbo_freq,
        cpu.cache,
        cpu.tdp,
        cpu.memory_type,
        cpu.memory_freq,
        cpu.ecc,
        cpu.lithography,
        cpu.graphics,
        cpu.price,
        cpu.img
      );
      if (!this.build) {
        this.mode = "U";
        this.showCpuCuForm = true;
      } else {
        this.$emit("fetchPart", this.selectedCpu);
      }
    },
    searchCpuList(url, pagination, query, sortOrder) {
      this.$emit("showProgress", true);
      return this.$http
        .get(url, {
          params: {
            ...pagination,
            ...query,
            ...sortOrder,
            ...this.processedStrict,
          },
        })
        .then((res) => {
          this.cpuList = [];
          this.totalPages = res.data.totalPages;
          res.data.items.forEach((cpu) => {
            cpu.reveal = false;
            this.cpuList.push(cpu);
          });
        })
        .catch((err) => {
          let snackbar = {
            err: true,
            msg: err,
          };
          this.$emit("notifyError", snackbar);
        })
        .finally(() => {
          this.$emit("showProgress", false);
          this.toTopPage();
        });
    },
    buildSearchFilter() {
      this.cpuManufacturerList = [];
      this.cpuSocketList = [];
      this.cpuCoreNumList = [];
      this.cpuThreadNumList = [];

      return this.$http
        .get(this.url.cpu, { params: { size: 9999, ...this.processedStrict } })
        .then((res) => {
          res.data.items.forEach((cpu) => {
            if (cpu.mfr && this.cpuManufacturerList.indexOf(cpu.mfr) === -1) {
              this.cpuManufacturerList.push(cpu.mfr);
            }
            if (cpu.socket && this.cpuSocketList.indexOf(cpu.socket) === -1) {
              this.cpuSocketList.push(cpu.socket);
            }
            if (
              cpu.core_num &&
              this.cpuCoreNumList.indexOf(cpu.core_num) === -1
            ) {
              this.cpuCoreNumList.push(cpu.core_num);
            }
            if (
              cpu.thread_num &&
              this.cpuThreadNumList.indexOf(cpu.thread_num) === -1
            ) {
              this.cpuThreadNumList.push(cpu.thread_num);
            }
          });
          this.cpuManufacturerList.sort();
          this.cpuSocketList.sort();
          this.cpuCoreNumList.sort((a, b) => a - b);
          this.cpuThreadNumList.sort((a, b) => a - b);
        })
        .catch((err) => {});
    },
    buildCpuList() {
      this.searchCpuList(
        this.url.cpu,
        this.pagination,
        this.searchQuery,
        this.sortOrder
      );
    },
    buildPage() {
      this.buildSearchFilter();
      this.buildCpuList();
    },
  },
};
</script>

<style lang="scss" scoped>
.cpu-list {
  display: flex;
  &__row {
    min-height: 874px;
  }
  &__col {
    display: flex;
    justify-content: center;
  }
  &__card {
    height: 400px;
    width: 275px;
    cursor: pointer;
    padding: 25px 0 25px 0;
  }
  &__card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  &__floating-button {
    position: fixed;
    bottom: 72px;
    right: 16px;
  }
}
</style>